@import './src/styles.scss';
* {
    @include css-init;
}

.l-profile-photo {
    position: relative;
    .profile-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 137px;
        height: 137px;
        border-radius: 50px;
        position: relative;
        overflow: hidden;

        .employee-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.empty {
            background-color: var(--gray-50);
        }
    }

    .add-picture,
    .edit-picture {
        position: absolute;
        bottom: 0;
        right: -10px;
    }
}
.hide-icon {
    display: none;
}
