@import './src/styles.scss';
* {
    @include css-init;
}

.red {
    @include rw-type-b(1.5rem, 23px, var(--red-100));
    margin-left: 3px;
}

.info-icon {
    @include icon2('/assets/icons/etc/info.svg', 20px, 20px);
}

.pw-visible-icon {
    @include icon2('/assets/images/visible.png', 20px, 20px);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 4.5px;
}
.pw-invisible-icon {
    @include icon2('/assets/images/invisible.png', 20px, 20px);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 4.5px;
}

.l-text-field {
    display: flex;
    flex-direction: column;

    .label {
        display: flex;
        align-items: center;
        @include rw-type-r(1.5rem, 23px, var(--gray-100));
        margin-bottom: 3px;
        .info-icon {
            margin-left: 3px;
        }
    }

    .l-input {
        position: relative;
        border-radius: 10px;
        input {
            box-sizing: border-box;
            background-color: var(--gray-30);
            border: 1px solid var(--gray-50);
            border-radius: 10px;
            outline: none;
            padding: 10px 40px 9px 14px;
            @include rw-type-r(1.7rem, 28px, var(--font-color));

            &.password {
                padding: 10px 60px 9px 14px;
            }
            &.search {
                padding: 10px 40px 9px 40px;
            }
            &:focus {
                @include card-shadow();
                border: 1px solid var(--gray-90);
                @include rw-type-b(1.7rem, 28px, var(--font-color));
            }
            &::placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &::-webkit-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:-ms-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:focus::placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:focus::-webkit-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:focus:-ms-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }

            &:hover {
                border: 1px solid var(--gray-90);
            }

            &:disabled {
                background-color: var(--gray-50);
                border: 1px solid var(--gray-50);
                border-radius: 10px;
                color: var(--gray-80);
                cursor: not-allowed;
            }

            &.type-word-limit {
                display: flex;
                align-items: center;
                padding: 10px 100px 9px 14px;
            }
            &.type-time-limit {
                display: flex;
                align-items: center;
                padding: 10px 100px 9px 14px;
            }

            &.warning {
                background-color: var(--state-warning-5);
                border: 1px solid var(--state-warning-100);
            }
            &.error {
                background-color: var(--state-error-5);
                border: 1px solid var(--state-error-100);
            }
        }
        .l-input-tag {
            display: flex;
            align-items: center;
            position: absolute;
            top: calc(calc(100% - 20px) / 2);
            right: 13px;
            rwa-svg-close-fill {
                margin-left: 12.5px;
                margin-bottom: 1.5px;
                cursor: pointer;
                height: 18px;
            }
            rwa-svg-warning {
                margin-left: 10px;
                margin-bottom: 1px;
                height: 18px;
            }
            rwa-svg-check {
                margin-left: 10px;
                margin-bottom: 2px;
                height: 18px;
            }
            .input-tag-normal {
                display: flex;
                align-items: center;
                height: 23px;
            }
            .input-tag-word {
                display: flex;
                align-items: center;
                height: 23px;
                @include rw-type-r(1.5rem, 23px, var(--gray-90));
                &.bold {
                    @include rw-type-b(1.5rem, 23px, var(--gray-90));
                }
            }
            .input-tag-time {
                display: flex;
                align-items: center;
                @include rw-type-b(1.5rem, 23px, var(--gray-90));
            }
        }

        .search-icon {
            @include icon2('/assets/icons/etc/magnifying-glass-g70.svg', 20px, 20px);
            position: absolute;
            left: 12px;
            top: 14.5px;
        }

        .hint {
            position: absolute;
            bottom: -26px;
            left: 1px;
            margin-top: 3px;
            width: 100%;
            display: flex;
            align-items: center;
            @include rw-type-r(1.5rem, 23px, var(--gray-90));
            .info-icon {
                margin-right: 3px;
            }
        }
        .status {
            position: absolute;
            bottom: -26px;
            left: 1px;
            margin-top: 3px;
            width: 100%;
            display: flex;
            align-items: center;
            @include rw-type-r(1.5rem, 23px, var(--font-color));
            &.warning {
                color: var(--state-warning-100);
            }
            &.error {
                color: var(--state-error-100);
            }
        }
    }
}
