@import './src/styles.scss';
* {
    @include css-init;
}

.red {
    @include rw-type-b(1.5rem, 23px, var(--red-100));
    margin-left: 3px;
}

.info-icon {
    @include icon2('/assets/icons/etc/info.svg', 20px, 20px);
}

.pw-visible-icon {
    @include icon2('/assets/images/visible.png', 20px, 20px);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 5.5px;
}
.pw-invisible-icon {
    @include icon2('/assets/images/invisible.png', 20px, 20px);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 5.5px;
}

.l-text-field {
    display: flex;
    flex-direction: column;

    .label {
        display: flex;
        align-items: center;
        @include rw-type-r(1.5rem, 23px, var(--gray-100));
        margin-bottom: 3px;
        .info-icon {
            margin-left: 3px;
        }
    }

    .l-input {
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        input {
            box-sizing: border-box;
            background-color: var(--gray-30);
            border: 1px solid var(--gray-50);
            border-radius: 10px;
            outline: none;
            padding: 10px 14px 9px 14px;
            @include rw-type-r(1.7rem, 28px, var(--font-color));

            &:focus,
            &.still-focus {
                padding: 10px 50px 9px 14px;
                @include card-shadow();
                border: 1px solid var(--gray-90);
                @include rw-type-b(1.7rem, 28px, var(--font-color));
            }

            &.warning,
            &.error,
            &.success {
                padding: 10px 45px 9px 14px;
                &:focus,
                &.still-focus {
                    padding: 10px 80px 9px 14px;
                }
            }

            &::placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &::-webkit-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:-ms-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:focus::placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:focus::-webkit-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }
            &:focus:-ms-input-placeholder {
                @include rw-type-r(1.7rem, 28px, var(--gray-80));
            }

            &:hover {
                border: 1px solid var(--gray-90);
            }

            &.type-word-limit {
                display: flex;
                align-items: center;
                padding: 10px 70px 9px 14px;
                &:focus,
                &.still-focus {
                    padding: 10px 105px 9px 14px;
                }
                &.warning,
                &.error {
                    padding: 10px 110px 9px 14px;
                    &:focus,
                    &.still-focus {
                        padding: 10px 140px 9px 14px;
                    }
                }
                &.success {
                    padding: 10px 45px 9px 14px;
                    &:focus,
                    &.still-focus {
                        padding: 10px 80px 9px 14px;
                    }
                }
            }
            &.type-time-limit {
                display: flex;
                align-items: center;
                padding: 10px 70px 9px 14px;
                &:focus,
                &.still-focus {
                    padding: 10px 100px 9px 14px;
                }
                &.warning,
                &.error {
                    padding: 10px 100px 9px 14px;
                    &:focus,
                    &.still-focus {
                        padding: 10px 135px 9px 14px;
                    }
                }
                &.success {
                    padding: 10px 45px 9px 14px;
                    &:focus,
                    &.still-focus {
                        padding: 10px 80px 9px 14px;
                    }
                }
            }

            &.password {
                padding: 10px 45px 9px 14px;
                &:focus,
                &.still-focus {
                    padding: 10px 80px 9px 14px;
                }
                &.warning,
                &.error,
                &.success {
                    padding: 10px 80px 9px 14px;
                    &:focus,
                    &.still-focus {
                        padding: 10px 110px 9px 14px;
                    }
                }
            }
            &.search {
                padding: 10px 14px 9px 42px;
                &:focus,
                &.still-focus {
                    padding: 10px 50px 9px 42px;
                }
                &.warning,
                &.error,
                &.success {
                    padding: 10px 50px 9px 42px;
                    &:focus,
                    &.till-focus {
                        padding: 10px 80px 9px 42px;
                    }
                }
            }

            &:disabled {
                background-color: var(--gray-50);
                border: 1px solid var(--gray-50);
                border-radius: 10px;
                color: var(--gray-80);
                cursor: not-allowed;
                box-shadow: none !important;
            }

            &.warning {
                background-color: var(--state-warning-5);
                border: 1px solid var(--state-warning-100);
            }
            &.error {
                background-color: var(--state-error-5);
                border: 1px solid var(--state-error-100);
            }
        }
        .l-input-tag {
            display: flex;
            align-items: center;
            position: absolute;
            top: 13px;
            right: 13px;
            rwa-svg-close-fill {
                margin-left: 10px;
                margin-bottom: 1.5px;
                cursor: pointer;
            }
            rwa-svg-warning {
                margin-left: 10px;
                margin-bottom: 1px;
            }
            rwa-svg-check {
                margin-left: 10px;
                margin-bottom: 2px;
            }
            .input-tag-normal {
                display: flex;
                align-items: center;
            }
            .input-tag-word {
                display: flex;
                align-items: center;
                @include rw-type-r(1.5rem, 23px, var(--gray-90));
                &.bold {
                    @include rw-type-b(1.5rem, 23px, var(--gray-90));
                }
            }
            .input-tag-time {
                height: 25.5px;
                display: flex;
                align-items: center;
                @include rw-type-b(1.5rem, 23px, var(--gray-100));
            }
        }

        .search-icon {
            @include icon2('/assets/icons/etc/magnifying-glass-g70.svg', 20px, 20px);
            position: absolute;
            left: 14px;
            top: 14.5px;
        }

        .hint {
            margin-top: 3px;
            width: 100%;
            display: flex;
            align-items: center;
            @include rw-type-r(1.5rem, 23px, var(--gray-90));
            .info-icon {
                margin-right: 3px;
            }
            .hint-text {
                margin-top: 3px
            }
        }
        .status {
            //position: absolute;
            //bottom: -26px;
            //left: 1px;
            margin-top: 3px;
            width: 100%;
            display: flex;
            align-items: center;
            @include rw-type-r(1.5rem, 23px, var(--font-color));
            &.warning {
                color: var(--state-warning-100);
            }
            &.error {
                color: var(--state-error-100);
            }
        }
    }
}
