* {
    padding: 0px;
    margin: 0px;
}

.mrp-toast {
    $width: 252px;
    $height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;

    position: absolute;
    width: $width;
    min-height: $height;
    left: calc(50vw - (#{$width} / 2));
    top: -$height;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;

    background: #6a6a6a;
    border-radius: 55px;

    &.view-toast {
        top: 66px;
    }

    span {
        color: var(--white);
    }
}
