@import './src/styles.scss';
* {
    @include css-init;
}

.l-button {
    border-radius: 14px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;

    .l-spinner {
        position: relative;
        min-width: 22px;
        min-height: 22px;
        margin-right: 5px;
    }

    &.focused {
        border-color: var(--font-color) !important;
    }

    &:focus {
        border-width: 2px !important;
        border-style: solid !important;
    }

    &:active {
        //border: none !important;
        border-width: 1px !important;
        border-style: solid !important;
    }

    &:disabled {
        cursor: not-allowed;
        &:hover {
            opacity: 1;
        }
    }

    .idle,
    .pending,
    .done {
        z-index: 5;
    }

    .progress {
        height: 100%;
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}
