@import './src/styles.scss';
* {
    @include css-init;
}

.display-none {
    display: none;
}

.center-product-info-toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    border-width: 1.5px;
    border-style: solid;
    z-index: 3;
    border-radius: 15px;

    position: fixed;
    top: 80px;

    .title {
        @include rw-type-b(1.5rem, 23.1px, var(--font-color));
        margin-right: 50px;
    }
}

@include rw-pc-sm {
    .center-product-info-toast {
        display: none;
    }
}
