@font-face {
    font-family: 'NEXON2_Bold';
    src: url('/assets/fonts/Bold/NEXON Lv2 Gothic Bold.ttf');
}
@font-face {
    font-family: 'NEXON2_Regular';
    src: url('/assets/fonts/Regular/NEXON Lv2 Gothic.ttf');
}
