<section #l_section *ngIf="!passwordChangeSuccess; else reset_password_complete" class="mobile-reset-password">
    <div class="top">
        <img (click)="navigateOnClose()" src="assets/icons/etc/close.svg" />
    </div>

    <div #middle class="middle">
        <div class="middle-text">새 비밀번호를 입력해주세요.</div>
        <mrp-text-field
            #new_password
            [form]="passwordForm"
            [title]="'새로운 비밀번호'"
            [placeHolder]="'새로운 비밀번호'"
            [guidePlaceHoldText]="'🔑  영어, 숫자, 특수문자 조합 8~15자 이내'"
            [guideText]="guideTextObj.password"
            [width]="textFieldWidth"
            [autoFocus]="true"
            (onEnter)="onPwEnter()"
        ></mrp-text-field>

        <div class="middle-margin"></div>

        <mrp-text-field
            #passwordConfirm
            [form]="passwordConfirmForm"
            [title]="'비밀번호 확인'"
            [placeHolder]="'비밀번호 확인'"
            [guidePlaceHoldText]="'🔑  영어, 숫자, 특수문자 조합 8~15자 이내'"
            [guideText]="guideTextObj.passwordConfirm"
            [width]="textFieldWidth"
            (onEnter)="onPwConfirmEnter()"
        ></mrp-text-field>

        <div class="middle-bottom-margin"></div>
    </div>

    <div class="bottom">
        <rw-button
            #change_pw_bt_el
            [width]="screenWidth"
            [height]="'52px'"
            [color]="'var(--red)'"
            [borderRadius]="'0 0 5px 0'"
            [disabled]="!(passwordForm.valid && passwordConfirmForm.valid && isTokenValid)"
            (onClick)="formCheck() && changePassword($event)"
        >
            <span class="button-text">{{ '비밀번호 변경하기' }}</span>
        </rw-button>
    </div>
</section>

<ng-template #reset_password_complete>
    <section class="pw-change-success">
        <div class="top">
            <img (click)="navigateOnClose()" src="assets/icons/etc/close.svg" />
            <span class="top-text--large"> 비밀번호가 성공적으로 </span>
            <span class="top-text--large"> 변경되었어요! </span>

            <span class="top-text--small h-margin-top"> 변경된 비밀번호로 로그인하기 위해 </span>
            <span class="top-text--small"> 레드웨일 앱에 접속해주세요. </span>
        </div>
        <div class="bottom">
            <div class="reset-password-complete"></div>
        </div>
    </section>
</ng-template>

<mrp-toast [visible]="toastObj.show" [text]="toastObj.text" [delay]="3000" (cancel)="hideMrpToast()"></mrp-toast>
