<div id="l-rwp-component" class="d-flex flex-column">
    <h1>- buttons</h1>
    <h2>기본</h2>
    <div class="d-flex align-items-center">
        <rwa-button [status]="button1.status" [loadingName]="button1.loadingName" [width]="button1.width">
            <ng-template btIdleContent>저장하기</ng-template>
            <ng-template btPendingContent>저장중</ng-template>
            <ng-template btDoneContent>완료</ng-template>
        </rwa-button>
        <div class="h-padding"></div>
        <rwa-button [status]="button2.status" [loadingName]="button2.loadingName" [progressPercent]="10">
            <ng-template btIdleContent>저장하기</ng-template>
            <ng-template btPendingContent>저장중</ng-template>
            <ng-template btDoneContent>완료</ng-template>
        </rwa-button>
        <div class="h-padding"></div>
        <rwa-button
            [status]="button2.status"
            [loadingName]="button2.loadingName"
            [progressBgColor]="'var(--red-200)'"
            [progressPercent]="button2.progress"
        >
            <ng-template btIdleContent>저장하기</ng-template>
            <ng-template btPendingContent>저장중</ng-template>
            <ng-template btDoneContent>완료</ng-template>
        </rwa-button>
        <div class="h-padding"></div>
        <rwa-button [status]="'done'" [loadingName]="button2.loadingName">
            <ng-template btIdleContent>저장하기</ng-template>
            <ng-template btPendingContent>저장중</ng-template>
            <ng-template btDoneContent> <rwa-check [margin]="'2.5px 4px 0 0'"></rwa-check> 완료 </ng-template>
        </rwa-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-button [status]="button1_1.status" [loadingName]="button1_1.loadingName">
            <ng-template btIdleContent>button1_1</ng-template>
        </rwa-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-button [status]="button1_2.status" [bgColor]="'#E34A5E'" [hoverBgColor]="'#D3243B'">
            <ng-template btIdleContent>bt red</ng-template>
        </rwa-button>
        <div class="h-padding"></div>
        <rwa-button
            [status]="button1_2.status"
            [bgColor]="'#E34A5E'"
            [hoverBgColor]="'#D3243B'"
            [disable]="button1_2Disable"
            [disableBgColor]="'#EEEEEE'"
            (onClick)="button1_2Disable = !button1_2Disable"
        >
            <ng-template btIdleContent>bt red disable</ng-template>
        </rwa-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-button [status]="button1_2.status" [bgColor]="'#2F2D2D'" [hoverBgColor]="'#141517'">
            <ng-template btIdleContent>bt gray</ng-template>
        </rwa-button>
        <div class="h-padding"></div>
        <rwa-button
            [status]="button1_2.status"
            [bgColor]="'#2F2D2D'"
            [hoverBgColor]="'#141517'"
            [disable]="true"
            [disableBgColor]="'#EEEEEE'"
        >
            <ng-template btIdleContent>bt gray disable</ng-template>
        </rwa-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-button
            [status]="button1_2.status"
            [bgColor]="'var(--white)'"
            [fontColor]="'#575555'"
            [hoverBgColor]="'#FAF9F9'"
        >
            <ng-template btIdleContent>bt white</ng-template>
        </rwa-button>
        <div class="h-padding"></div>
        <rwa-button
            [status]="button1_2.status"
            [bgColor]="'white'"
            [disable]="true"
            [disableBgColor]="'#FFFFFF'"
            [disableFontColor]="'#D8D8D8'"
        >
            <ng-template btIdleContent>bt white disable</ng-template>
        </rwa-button>
    </div>

    <p class="v-padding"></p>
    <h2>고스트</h2>
    <div class="d-flex align-items-center">
        <rwa-ghost-button>
            <ng-template gbtIdleContent>문의하기</ng-template>
        </rwa-ghost-button>
        <div class="h-padding"></div>
        <rwa-ghost-button [disable]="true">
            <ng-template gbtIdleContent>문의하기</ng-template>
        </rwa-ghost-button>
        <div class="h-padding"></div>
        <rwa-ghost-button
            [disable]="true"
            [disableFontColor]="'var(--label-green)'"
            [disableBgColor]="'var(--state-etc-5)'"
        >
            <ng-template gbtIdleContent>문의하기</ng-template>
        </rwa-ghost-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-ghost-button
            [width]="'117px'"
            [height]="'42px'"
            [borderColor]="'var(--red-100)'"
            [hoverBorderColor]="'var(--red-100)'"
            [fontColor]="'var(--red-100)'"
            [hoverBgColor]="'var(--red-5)'"
        >
            <ng-template gbtIdleContent> <rwa-plus [margin]="'2.5px 5px 0 0'"></rwa-plus> 수업 추가</ng-template>
        </rwa-ghost-button>
        <div class="h-padding"></div>
        <rwa-ghost-button
            [width]="'117px'"
            [height]="'42px'"
            [borderColor]="'var(--red-100)'"
            [hoverBorderColor]="'var(--red-100)'"
            [fontColor]="'var(--red-100)'"
            [hoverBgColor]="'var(--red-5)'"
            [disableBgColor]="'var(--white)'"
            [disableFontColor]="'var(--red-20)'"
            [disableBorderColor]="'var(--red-20)'"
            [disable]="gbt1.disable"
            (onClick)="gbt1.disable = !gbt1.disable"
        >
            <ng-template gbtIdleContent>
                <rwa-plus *ngIf="gbt1.disable" [margin]="'2.5px 5px 0 0'" [color]="'var(--red-20)'"></rwa-plus>
                <rwa-plus *ngIf="!gbt1.disable" [margin]="'2.5px 5px 0 0'"></rwa-plus> 수업 추가</ng-template
            >
        </rwa-ghost-button>
        <div class="h-padding"></div>
        <rwa-ghost-button
            [width]="'117px'"
            [height]="'42px'"
            [borderColor]="'var(--red-100)'"
            [hoverBorderColor]="'var(--red-100)'"
            [fontColor]="'var(--red-100)'"
            [hoverBgColor]="'var(--red-5)'"
            [disableBgColor]="'var(--white)'"
            [disableFontColor]="'var(--red-20)'"
            [disableBorderColor]="'var(--red-20)'"
            [disable]="true"
        >
            <ng-template gbtIdleContent>
                <rwa-plus *ngIf="true" [margin]="'2.5px 5px 0 0'" [color]="'var(--red-20)'"></rwa-plus>
                <rwa-plus *ngIf="!true" [margin]="'2.5px 5px 0 0'"></rwa-plus> 수업 추가</ng-template
            >
        </rwa-ghost-button>
        <div class="h-padding"></div>
        <rwa-ghost-button
            [width]="'117px'"
            [height]="'42px'"
            [borderColor]="'var(--red-100)'"
            [hoverBorderColor]="'var(--red-100)'"
            [fontColor]="'var(--red-100)'"
            [hoverBgColor]="'var(--red-5)'"
            [disableBgColor]="'var(--white)'"
            [disableFontColor]="'var(--red-20)'"
            [disableBorderColor]="'var(--red-20)'"
            [loadingColor]="'var(--red-100)'"
            [status]="gbt2.progress"
            [progressPercent]="75"
            [progressBgColor]="'var(--red-5)'"
            (onClick)="gbt2Click()"
        >
            <ng-template gbtIdleContent>
                <rwa-plus *ngIf="true" [margin]="'2.5px 5px 0 0'" [color]="'var(--red-100)'"></rwa-plus>
                수업 추가 st
            </ng-template>
            <ng-template gbtPendingContent> 처리중 </ng-template>
            <ng-template gbtDoneContent>
                <rwa-check [margin]="'2.5px 4px 0 0'" [color]="'var(--red-100)'"></rwa-check> 완료
            </ng-template>
        </rwa-ghost-button>
    </div>
    <p class="v-padding"></p>
    <h2>텍스트 버튼</h2>
    <div class="d-flex align-items-center">
        <rwa-text-button> 사용 불가 해제하기 </rwa-text-button>
        <div class="h-padding"></div>
        <rwa-text-button [color]="'var(--red-100)'"> 사용 불가 해제하기 </rwa-text-button>
        <div class="h-padding"></div>
        <rwa-text-button
            [color]="'var(--red-100)'"
            [showUnderLine]="true"
            [disable]="true"
            [disableColor]="'var(--red-10)'"
        >
            사용 불가 해제하기
        </rwa-text-button>
        <div class="h-padding"></div>
        <rwa-text-button [fontSize]="'20px'" [lineHeight]="'25px'" [showUnderLine]="true">
            <span>사용 불가 해제하기</span>
        </rwa-text-button>

        <div class="h-padding"></div>
        <rwa-text-button [fontSize]="'22px'" [lineHeight]="'28px'"> 사용 불가 해제하기 </rwa-text-button>
    </div>
    <p class="v-padding"></p>
    <h2>아이콘 고스트 버튼</h2>
    <div class="d-flex align-items-center">
        <rwa-icon-ghost-button
            rwTooltip
            rwTooltipPlacement="bottom"
            rwTooltipTitle="회원 리스트"
            borderColor="var(--gray-60)"
        >
            <rwa-user-list></rwa-user-list>
        </rwa-icon-ghost-button>
        <div class="h-padding"></div>
        <rwa-icon-ghost-button
            rwTooltip
            rwTooltipPlacement="bottom"
            rwTooltipTitle="자세히 보기"
            [sizeType]="'sm'"
            borderRadius="12px"
            borderColor="var(--gray-60)"
        >
            <rwa-dots-three></rwa-dots-three>
        </rwa-icon-ghost-button>
        <div class="h-padding"></div>
        <rwa-icon-ghost-button
            rwTooltip
            rwTooltipPlacement="bottom"
            rwTooltipTitle="자세히 보기"
            sizeType="md"
            borderRadius="14px"
            borderColor="var(--gray-60)"
        >
            <rwa-dots-three></rwa-dots-three>
        </rwa-icon-ghost-button>
        <div class="h-padding"></div>
        <rwa-icon-ghost-button
            rwTooltip
            rwTooltipPlacement="bottom"
            rwTooltipTitle="자세히 보기"
            sizeType="lg"
            borderColor="var(--gray-60)"
        >
            <rwa-dots-three></rwa-dots-three>
        </rwa-icon-ghost-button>
        <div class="h-padding"></div>
        <rwa-icon-ghost-button
            rwTooltip
            rwTooltipPlacement="bottom"
            rwTooltipTitle="자세히 보기"
            sizeType="lg"
            bgColor="var(--red-100)"
            hoverBgColor="var(--red-200)"
            borderColor="var(--black)"
        >
            <rwa-dots-three color="var(--white)"></rwa-dots-three>
        </rwa-icon-ghost-button>
    </div>
    <p class="v-padding"></p>
    <h2>아이콘 버튼</h2>
    <div class="d-flex align-items-center">
        <rwa-icon-button><rwa-pencil></rwa-pencil></rwa-icon-button>
        <div class="h-padding"></div>
        <rwa-icon-button [sizeType]="'sm'" borderRadius="12px" bgColor="var(--red-100)" hoverBgColor="var(--red-200)">
            <rwa-plus color="var(--white)"></rwa-plus>
        </rwa-icon-button>
        <div class="h-padding"></div>
        <rwa-icon-button sizeType="md" borderRadius="14px" bgColor="var(--red-100)" hoverBgColor="var(--red-200)">
            <rwa-plus color="var(--white)"></rwa-plus>
        </rwa-icon-button>
        <div class="h-padding"></div>
        <rwa-icon-button sizeType="lg" bgColor="var(--red-100)" hoverBgColor="var(--red-200)">
            <rwa-plus color="var(--white)"></rwa-plus>
        </rwa-icon-button>
    </div>
    <p class="v-padding"></p>
    <h2>체크박스</h2>
    <div class="d-flex align-items-center">
        <rwa-checkbox [checked]="checkbox1" (onClick)="onCheckBox1($event)"></rwa-checkbox>
        <div class="h-padding"></div>
        <rwa-checkbox [disable]="true" [checked]="checkbox1" (onClick)="onCheckBox1($event)"></rwa-checkbox>
        <div class="h-padding"></div>
        <rwa-checkbox [checked]="checkbox2" (onClick)="onCheckBox2($event)" label="label"></rwa-checkbox>
        <div class="h-padding"></div>
        <rwa-checkbox
            [checked]="checkbox2"
            (onClick)="onCheckBox2($event)"
            [disable]="true"
            label="label"
        ></rwa-checkbox>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <h2>라디오 버튼</h2>
    <div class="d-flex align-items-center">
        <rwa-radio-button [checked]="radio1" (onClick)="onRadio1($event)"></rwa-radio-button>
        <div class="h-padding"></div>
        <rwa-radio-button [disable]="true" [checked]="radio1" (onClick)="onRadio1($event)"></rwa-radio-button>
        <div class="h-padding"></div>
        <rwa-radio-button [checked]="radio2" (onClick)="onRadio2($event)" label="label"></rwa-radio-button>
        <div class="h-padding"></div>
        <rwa-radio-button
            [checked]="radio2"
            (onClick)="onRadio2($event)"
            [disable]="true"
            label="label"
        ></rwa-radio-button>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <h2>토글 버튼</h2>
    <div class="d-flex align-items-center">
        <rwa-toggle-button [checked]="toggle1" (onClick)="ontoggle1($event)"></rwa-toggle-button>
        <div class="h-padding"></div>
        <rwa-toggle-button [disable]="true" [checked]="toggle1" (onClick)="ontoggle1($event)"></rwa-toggle-button>
        <div class="h-padding"></div>
        <rwa-toggle-button [checked]="toggle2" (onClick)="ontoggle2($event)" label="label"></rwa-toggle-button>
        <div class="h-padding"></div>
        <rwa-toggle-button
            [checked]="toggle2"
            (onClick)="ontoggle2($event)"
            [disable]="true"
            label="label"
        ></rwa-toggle-button>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <h2>탭</h2>
    <div class="d-flex align-items-center">
        <rwa-tab [tabs]="tabInputs1" [label]="'레이블'" (onTabItemSelected)="onItemSelected1($event)"></rwa-tab>
        <div class="h-padding"></div>
        <rwa-tab [tabs]="tabInputs2" [label]="'레이블'" (onTabItemSelected)="tabInputs2 = $event"></rwa-tab>
    </div>
    <p class="v-padding"></p>
    <h2>탭 small</h2>
    <div class="d-flex align-items-center">
        <rwa-tab-sm [tabs]="tabInputs3" (onTabItemSelected)="onItemSelected3($event)"></rwa-tab-sm>
        <div class="h-padding"></div>
        <rwa-tab-sm [tabs]="tabInputs4" (onTabItemSelected)="tabInputs4 = $event"></rwa-tab-sm>
    </div>
    <p class="v-padding"></p>
    <h2>페이지 버튼</h2>
    <div class="d-flex align-items-center">
        <rwa-page-button [pageNumber]="6"></rwa-page-button>
        <div class="h-padding"></div>
        <rwa-page-button [pageNumber]="7"></rwa-page-button>
        <div class="h-padding"></div>
        <rwa-page-button [pageNumber]="10"></rwa-page-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-page-button [pageNumber]="12" [disable]="true"></rwa-page-button>
        <div class="h-padding"></div>
        <rwa-page-button [pageNumber]="999" [disable]="false"></rwa-page-button>
        <div class="h-padding"></div>
        <rwa-page-button [pageNumber]="999" [disable]="false"></rwa-page-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-page-button [pageNumber]="6" [disable]="true"></rwa-page-button>
        <div class="h-padding"></div>
        <rwa-page-button [pageNumber]="10" [disable]="true"></rwa-page-button>
    </div>
    <p class="v-padding"></p>
    <h1>- 텍스트 필드</h1>
    <h2 (click)="text1 = '일반 텍스트 다른 곳에서 변경 테스트'">일반</h2>
    <div class="d-flex align-items-center">
        <rwa-text-field
            [value]="text1"
            (onValueChange)="onText1Change($event)"
            [placeholder]="'플레이스 홀더'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text2"
            (onValueChange)="onText2Change($event)"
            [type]="'wordLimit'"
            [inputLimit]="10"
            [placeholder]="'플레이스 홀더'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text1"
            (onValueChange)="onText1Change($event)"
            [placeholder]="'플레이스 홀더'"
            [type]="'timeLimit'"
            [advice]="'도움말'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field [placeholder]="'플레이스 홀더'" [disable]="true"></rwa-text-field>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-text-field
            [status]="'error'"
            [statusText]="'에러 메시지'"
            [placeholder]="'플레이스 홀더'"
            [advice]="'도움말'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [type]="'wordLimit'"
            [inputLimit]="50"
            [placeholder]="'플레이스 홀더'"
            [status]="'warning'"
            [statusText]="'경고 메시지'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [type]="'timeLimit'"
            [placeholder]="'플레이스 홀더'"
            [status]="'error'"
            [statusText]="'에러 메시지'"
        ></rwa-text-field>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-text-field
            [status]="'success'"
            [statusText]="'에러 메시지'"
            [placeholder]="'플레이스 홀더'"
            [advice]="'도움말'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [type]="'wordLimit'"
            [placeholder]="'플레이스 홀더'"
            [status]="'success'"
            [statusText]="'경고 메시지'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [type]="'timeLimit'"
            [placeholder]="'플레이스 홀더'"
            [status]="'success'"
            [statusText]="'에러 메시지'"
        ></rwa-text-field>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-text-field [placeholder]="'플레이스 홀더'" [hint]="'힌트 메시지'"></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field [placeholder]="'플레이스 홀더'" [disable]="true"></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field [labelVisible]="false" [placeholder]="'플레이스 홀더'" [advice]="'도움말'"></rwa-text-field>
    </div>
    <p class="v-padding"></p>
    <h3>일반 (ControlValueAccessor)</h3>
    <div class="d-flex align-items-center">
        <rwa-text-input [placeholder]="'플레이스 홀더'" [hint]="'힌트 메시지'"></rwa-text-input>
        <div class="h-padding"></div>
        <rwa-text-input [placeholder]="'플레이스 홀더'" [disable]="true"></rwa-text-input>
        <div class="h-padding"></div>
        <rwa-text-input [labelVisible]="false" [placeholder]="'플레이스 홀더'" [advice]="'도움말'"></rwa-text-input>
    </div>
    <p class="v-padding"></p>
    <p class="v-padding"></p>
    <h2>패스워드</h2>
    <div class="d-flex align-items-center">
        <rwa-text-field
            [value]="text1"
            (onValueChange)="onText1Change($event)"
            [label]="'비밀번호'"
            [textFieldType]="'password'"
            [placeholder]="'플레이스 홀더'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text2"
            [label]="'비밀번호'"
            [status]="'error'"
            [statusText]="'에러 메시지'"
            (onValueChange)="onText2Change($event)"
            [textFieldType]="'password'"
            [placeholder]="'플레이스 홀더'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text1"
            [label]="'비밀번호'"
            [status]="'warning'"
            [statusText]="'경고 메시지'"
            (onValueChange)="onText1Change($event)"
            [textFieldType]="'password'"
            [placeholder]="'플레이스 홀더'"
            [advice]="'도움말'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text2"
            [label]="'비밀번호'"
            [status]="'success'"
            (onValueChange)="onText2Change($event)"
            [textFieldType]="'password'"
            [placeholder]="'플레이스 홀더'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field [textFieldType]="'password'" [placeholder]="'플레이스 홀더'" [disable]="true"></rwa-text-field>
    </div>
    <p class="v-padding"></p>
    <h2>검색</h2>
    <div class="d-flex align-items-center">
        <rwa-text-field
            [value]="text1"
            (onValueChange)="onText1Change($event)"
            [textFieldType]="'search'"
            [placeholder]="'플레이스 홀더'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text2"
            (onValueChange)="onText2Change($event)"
            [status]="'error'"
            [statusText]="'에러 메시지'"
            [textFieldType]="'search'"
            [placeholder]="'플레이스 홀더'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text1"
            (onValueChange)="onText1Change($event)"
            [status]="'warning'"
            [statusText]="'경고 메시지'"
            [placeholder]="'플레이스 홀더'"
            [textFieldType]="'search'"
            [advice]="'도움말'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field
            [value]="text1"
            (onValueChange)="onText1Change($event)"
            [status]="'success'"
            [placeholder]="'플레이스 홀더'"
            [textFieldType]="'search'"
            [advice]="'도움말'"
        ></rwa-text-field>
        <div class="h-padding"></div>
        <rwa-text-field [textFieldType]="'search'" [placeholder]="'플레이스 홀더'" [disable]="true"></rwa-text-field>
    </div>

    <p class="v-padding"></p>
    <h2>숫자</h2>
    <div class="d-flex align-items-center">
        <rwa-number-text-field
            [labelVisible]="false"
            [value]="numberText1"
            (onValueChange)="onNumberText1Change($event)"
        ></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field
            [value]="numberText2"
            (onValueChange)="onNumberText2Change($event)"
            [hint]="'힌트 메시지'"
        ></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field [advice]="'도움말'"></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field
            [value]="numberText1"
            (onValueChange)="onNumberText1Change($event)"
            [disable]="true"
        ></rwa-number-text-field>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-number-text-field
            [status]="'error'"
            [statusText]="'에러 메시지'"
            [value]="numberText1"
            (onValueChange)="onNumberText1Change($event)"
        ></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field
            [status]="'warning'"
            [statusText]="'경고 메시지'"
            [value]="numberText2"
            (onValueChange)="onNumberText2Change($event)"
        ></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field [advice]="'도움말'"></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field [disable]="true"></rwa-number-text-field>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-number-text-field
            [value]="numberText1"
            (onValueChange)="onNumberText1Change($event)"
        ></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field
            [value]="numberText2"
            (onValueChange)="onNumberText2Change($event)"
        ></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field [advice]="'도움말'"></rwa-number-text-field>
        <div class="h-padding"></div>
        <rwa-number-text-field [disable]="true"></rwa-number-text-field>
    </div>
    <p class="v-padding"></p>
    <h2>인증번호</h2>
    <div class="d-flex align-items-center">
        <rwa-verification-field
            [labelVisible]="false"
            [value]="verificationNumber"
            (onValueChange)="onVerificationNumberChange($event)"
        ></rwa-verification-field>
        <div class="h-padding"></div>
        <div class="h-padding"></div>
        <rwa-verification-field
            [value]="verificationNumber"
            (onValueChange)="onVerificationNumberChange($event)"
            [hint]="'힌트 메시지'"
        ></rwa-verification-field>
        <div class="h-padding"></div>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-verification-field
            [labelVisible]="false"
            [value]="verificationNumber"
            [status]="'warning'"
            [statusText]="'경고 메시지'"
            (onValueChange)="onVerificationNumberChange($event)"
        ></rwa-verification-field>
        <div class="h-padding"></div>
        <div class="h-padding"></div>
        <rwa-verification-field
            [value]="verificationNumber"
            (onValueChange)="onVerificationNumberChange($event)"
            [status]="'error'"
            [statusText]="'에러 메시지'"
            [hint]="'힌트 메시지'"
        ></rwa-verification-field>
        <div class="h-padding"></div>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <p class="v-padding"></p>
    <h2>텍스트 필드 - 버튼</h2>
    <div class="d-flex align-items-center">
        <rwa-textfield-button [value]="'입력한 정보'"></rwa-textfield-button>
        <div class="h-padding"></div>
        <rwa-textfield-button
            [tagText]="'자세히 보기'"
            [advice]="'도움말'"
            [value]="'입력한 정보'"
        ></rwa-textfield-button>
        <div class="h-padding"></div>
        <rwa-textfield-button [hint]="'힌트 메시지'" [value]="'입력한 정보'"></rwa-textfield-button>
        <div class="h-padding"></div>
        <rwa-textfield-button [disable]="true" [value]="'입력한 정보'"></rwa-textfield-button>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-textfield-button [value]="'입력한 정보'"></rwa-textfield-button>
        <div class="h-padding"></div>
        <rwa-textfield-button
            [value]="'입력한 정보'"
            [status]="'error'"
            [statusText]="'에러 메시지'"
        ></rwa-textfield-button>
        <div class="h-padding"></div>
        <rwa-textfield-button
            [value]="'입력한 정보'"
            [status]="'warning'"
            [statusText]="'경고 메시지'"
        ></rwa-textfield-button>
        <div class="h-padding"></div>
    </div>

    <p class="v-padding"></p>
    <p class="v-padding"></p>
    <h2>텍스트 필드 - 드롭다운</h2>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <rwa-textfield-dropdown
            [label]="'label'"
            [items]="dropdown1"
            [value]="ddV1"
            (onSelectValue)="ddV1 = $event"
        ></rwa-textfield-dropdown>
        <div class="h-padding"></div>
        <rwa-textfield-dropdown
            advice="도움말"
            label="레이블"
            [items]="dropdown1"
            [value]="ddV1"
            (onSelectValue)="ddV1 = $event"
        ></rwa-textfield-dropdown>
        <div class="h-padding"></div>
        <rwa-textfield-dropdown
            [items]="dropdown2"
            [value]="ddV2"
            (onSelectValue)="ddV2 = $event"
            label="레이블"
            hint="힌트 메시지"
        ></rwa-textfield-dropdown>
        <div class="h-padding"></div>
        <rwa-textfield-dropdown
            [items]="dropdown2"
            [value]="ddV2"
            (onSelectValue)="ddV2 = $event"
            [labelVisible]="false"
            [disable]="true"
        ></rwa-textfield-dropdown>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center">
            <rwa-textfield-dropdown
                [items]="dropdown1"
                [value]="ddV1"
                (onSelectValue)="ddV1 = $event"
                [label]="'label'"
            ></rwa-textfield-dropdown>
            <div class="h-padding"></div>
            <rwa-textfield-dropdown
                [items]="dropdown1"
                [value]="ddV1"
                (onSelectValue)="ddV1 = $event"
                advice="도움말"
                label="레이블"
                status="warning"
                statusText="경고 메시지"
            ></rwa-textfield-dropdown>
            <div class="h-padding"></div>
            <rwa-textfield-dropdown
                [items]="dropdown2"
                [value]="ddV2"
                (onSelectValue)="ddV2 = $event"
                label="레이블"
                hint="힌트 메시지"
                status="error"
                statusText="에러 메시지"
            ></rwa-textfield-dropdown>
            <div class="h-padding"></div>
            <rwa-textfield-dropdown
                [items]="dropdown2"
                [value]="ddV2"
                (onSelectValue)="ddV2 = $event"
                [labelVisible]="false"
            ></rwa-textfield-dropdown>
            <div class="h-padding"></div>
        </div>
    </div>

    <p class="v-padding"></p>
    <p class="v-padding"></p>
    <h2>텍스트 필드 - 메모</h2>
    <div class="d-flex align-items-center">
        <rwa-memo [formControl]="memo1" (onButtonClick)="onMemo1ButtonClick()"></rwa-memo>
        <div class="h-padding"></div>
        <rwa-memo [formControl]="memo2" [showButton]="true" (onButtonClick)="onMemo2ButtonClick()"></rwa-memo>
        <div class="h-padding"></div>
        <rwa-memo [formControl]="memo3" [showButton]="true"></rwa-memo>
        <div class="h-padding"></div>
        <rwa-memo [(ngModel)]="memo4"></rwa-memo>
        <div class="h-padding"></div>
    </div>

    <p class="v-padding"></p>
    <p class="v-padding"></p>
    <h2>모달 - 기본</h2>
    <div class="d-flex align-items-center">
        <div [style.cursor]="'pointer'" (click)="modalBasic1 = true">modal basic1</div>
        <rwa-modal
            [(visible)]="modalBasic1"
            [data]="modalBasic1Data"
            (cancel)="modalBasic1 = false"
            (confirm)="modalBasic1 = false"
        ></rwa-modal>
        <div class="h-padding"></div>
        <div [style.cursor]="'pointer'" (click)="modalBasic1_5 = true">modal basic2</div>
        <rwa-modal
            [(visible)]="modalBasic1_5"
            [data]="modalBasic1_5Data"
            [type]="'oneButton'"
            [blockClickOutside]="true"
            (cancel)="modalBasic1_5 = false"
            (confirm)="modalBasic1_5 = false"
        ></rwa-modal>
        <div class="h-padding"></div>
        <div [style.cursor]="'pointer'" (click)="modalBasic2 = true">modal basic3</div>
        <rwa-modal
            [(visible)]="modalBasic2"
            [data]="modalBasic2Data"
            (cancel)="modalBasic2 = false"
            (confirm)="onModal2Confirm($event)"
        ></rwa-modal>
        <div class="h-padding"></div>
    </div>
    <p class="v-padding"></p>
    <h2>모달 - 단일 정보 입력 L (textarea)</h2>
    <div class="d-flex align-items-center">
        <div [style.cursor]="'pointer'" (click)="modalTa1 = true">modal textarea1</div>
        <rwa-textarea-modal
            [(visible)]="modalTa1"
            (cancel)="modalTa1 = false"
            (confirm)="modalTa1 = false"
        ></rwa-textarea-modal>
        <div class="h-padding"></div>
        <div [style.cursor]="'pointer'" (click)="modalTa2 = true">modal textarea2</div>
        <rwa-textarea-modal
            [(visible)]="modalTa2"
            [type]="'twoButton'"
            [text]="modalTa2Text"
            [blockClickOutside]="true"
            (cancel)="onModalTa2Cancel()"
            (confirm)="onModalTa2Confirm($event)"
        ></rwa-textarea-modal>
        <div class="h-padding"></div>
        <div [style.cursor]="'pointer'" (click)="modalTa3 = true">modal textarea3</div>
        <rwa-textarea-modal
            [title]="'모달 정보 입력 타이틀'"
            [(visible)]="modalTa3"
            [text]="modalTa3Text"
            (cancel)="onModalTa3Cancel()"
            (confirm)="onModalTa3Confirm($event)"
        ></rwa-textarea-modal>
        <div class="h-padding"></div>
    </div>
</div>
