section.login {
    .box {
        width: 415px;
        padding-top: 70px;

        .input-box {
            input {
                width: 100%;
                margin-top: 5px;
            }
        }

        .email-input-box {
            margin-top: 40px;
        }

        .password-input-box {
            position: relative;
            margin-top: 37px;

            .password-icon {
                display: none;
                position: absolute;
                top: 34px;
                right: 14px;
                width: 28px;
                height: 28px;
                cursor: pointer;
            }
        }

        .checkbox-group {
            margin: 37px 0;
        }

        .h-line {
            margin: 37px 0;
            border-top: 1px solid var(--border-color);
        }

        .l-text-button {
            margin-top: 25px;
            a {
                text-decoration: none;
                &:hover {
                    opacity: 0.8;
                }
            }
            .divider {
                width: 1px;
                height: 17px;
                border-right: 1px solid var(--border-color);
                margin: 0 20px;
            }
        }

        rw-button {
            &:not(:first-of-type) {
                margin-left: 24px;
            }
        }
        #kakao,
        #google,
        #apple {
            img {
                width: 30px;
                height: 30px;
            }
            width: 100%;
            height: 100%;
        }

        #google {
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}
