.forgot-password {
    .box {
        width: 415px;
        padding-top: 70px;

        .headline {
            .rw-typo-subtext1 {
                margin-top: 4px;
            }
        }

        .input-box {
            input {
                width: 100%;
                margin-top: 5px;
            }
        }

        .email-input-box {
            margin-top: 40px;
        }

        .button-group {
            margin-top: 37px;

            .cancel-text {
                color: var(--grey);
            }
        }
    }
}
