@import './src/styles.scss';
* {
    @include css-init;
}

.rw-modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--gray-90);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 999;
}

.rw-modal-background-show {
    opacity: 0.5;
}
.rw-modal-wrapper-show {
    .rw-modal {
        opacity: 1 !important;
    }
}

.rw-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .rw-modal {
        width: 540px;
        height: calc(100vh - 120px);

        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 20px;
        position: relative;
        background-color: var(--white);
        @include modal-shadow();
        opacity: 0;
        transition: opacity 0s;
        -moz-transition: opacity 0s;
        -webkit-transition: opacity 0s;
        -o-transition: opacity 0s;

        .header {
            width: 100%;
            //height: 82px;
            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include rw-type-b(2rem, 31px, var(--font-color));
                padding: 14px 25px 0;
                .divider {
                    height: 25px;
                    width: 1px;
                    border-right: 1px solid var(--gray-60);
                    margin: 0 20px;
                }
                .title-left {
                    display: flex;
                    align-items: center;
                }
            }
            .category {
                position: relative;
                padding: 13px 25px 0;
                .border-bottom {
                    position: absolute;
                    width: 100%;
                    bottom: 1px;
                    left: 0;
                    border-bottom: 1px solid var(--gray-50);
                }
            }
        }

        .body {
            width: 100%;
            height: calc(100% - 110px);
            position: relative;

            .center-info,
            .employee-management,
            .policy-management,
            .payment-management {
                width: 100%;
                height: 100%;
                display: none;
                flex-direction: column;
                align-items: center;
            }
            .body-content-display {
                display: flex;
            }
        }
    }
}

@include rw-pc-sm {
    .rw-modal-wrapper {
        .rw-modal {
            width: 750px;
            height: 750px;
        }
    }
}
