@import './src/styles.scss';
* {
    @include css-init;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    &.focused {
        &:focus {
            border: 2px solid var(--font-color);
            background-color: var(--white);
        }
    }
    &.right-margin {
        margin-right: 5px;
    }
    &.left-margin {
        margin-left: 5px;
    }
}
.caret-cdl {
    background-image: url('/assets/icons/arrow/caret-circle-double-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 26px;
    min-height: 26px;
    cursor: pointer;
    shape-rendering: geometricPrecision;
    &:hover {
        background-image: url('/assets/icons/arrow/caret-circle-double-left-duotone.svg');
    }
}
.caret-cdr {
    background-image: url('/assets/icons/arrow/caret-circle-double-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 26px;
    min-height: 26px;
    cursor: pointer;
    shape-rendering: geometricPrecision;
    &:hover {
        background-image: url('/assets/icons/arrow/caret-circle-double-right-duotone.svg');
    }
}
.caret-cl {
    background-image: url('/assets/icons/arrow/caret-circle-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 26px;
    min-height: 26px;
    cursor: pointer;
    shape-rendering: geometricPrecision;
    &:hover {
        background-image: url('/assets/icons/arrow/caret-circle-left-duotone.svg');
    }
}
.caret-cr {
    background-image: url('/assets/icons/arrow/caret-circle-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 26px;
    min-height: 26px;
    cursor: pointer;
    shape-rendering: geometricPrecision;
    &:hover {
        background-image: url('/assets/icons/arrow/caret-circle-right-duotone.svg');
    }
}

$daySize: 37px;
$additional_width: 7px;

.l-one-month-calendar {
    width: 682px;
    height: 394px;
    border-radius: 18px;
    background-color: var(--white);
    padding: 25px;
    &.is-shadow {
        @include mini-modal-shadow();
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .month-day {
            @include rw-type-b(1.7rem, 28.3px, var(--font-color));
            padding-top: 1px;
        }

        .header-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .month-day {
                margin-left: 60px;
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .month-day {
                margin-right: 60px;
            }
        }
    }

    .body {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 18px;
        .curDays,
        .postDays {
            max-width: 301px;
        }
    }

    .days-of-week {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
        .day {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $daySize;
            height: $daySize;
            @include rw-type-r(1.7rem, 22px, var(--gray-90));
            &:not(:last-of-type) {
                margin-right: 7px;
            }
        }
    }
    .week-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $daySize;
        &:not(:last-of-type) {
            margin-bottom: 7px;
        }
        .week-col-padding {
            height: $daySize;
            width: $additional_width;
        }
        .l-week-col {
            z-index: 2;
            width: calc($daySize + $additional_width);
            &.seven-week-col {
                width: calc($daySize) !important;
            }
            .week-col {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: $daySize;
                height: $daySize;
                box-sizing: border-box;
                border-radius: 12px;
                outline: none;
                border: none;
                background-color: transparent;

                @include rw-type-r(1.5rem, 23px, var(--gray-90));

                &:hover {
                    border: 1.5px solid var(--gray-100);
                    background-color: var(--gray-30);
                    color: var(--font-color) !important;
                }
                &.focused {
                    &:focus {
                        border: 2px solid var(--font-color);
                        background-color: var(--white);
                        color: var(--font-color);
                    }
                }
                &.selected {
                    background-color: var(--gray-100) !important;
                    color: var(--white) !important;
                }
            }
        }
    }

    &.multiline {
        .week-row {
            .l-week-col {
                &.start-date {
                    border-radius: 18px 0 0 18px;
                    background-color: var(--gray-40);
                }
                &.end-date {
                    width: calc($daySize);
                    background-color: var(--gray-40);
                    border-radius: 0 18px 18px 0;
                }
                &.same-date {
                    width: calc($daySize);
                }
                &.between {
                    background-color: var(--gray-40);
                }
            }
            .week-col {
                &.unAvailable-date {
                    position: relative !important;
                    cursor: not-allowed !important;
                    color: var(--gray-70) !important;
                    &:hover {
                        border: none !important;
                        color: var(--gray-70) !important;
                        background-color: var(--white) !important;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 30px;
                        left: 3.5px;
                        top: 18.5px;
                        border-top: 1px solid var(--gray-60);
                        transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
                    }
                }
            }
        }
    }

    .between-hover {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--gray-40) !important;
        z-index: 1 !important;
        &.show {
            visibility: visible;
        }
    }
    .between-selected {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background-color: var(--gray-40) !important;
        z-index: 1 !important;
        &.show {
            visibility: visible;
        }
    }
}

.l-two-month-calendar {
}
