@import 'src/styles.scss';

* {
    @include css-init;
}

.l-main-tablet-header {
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid var(--gray-50);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    aside {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 103px;
    }

    @include rw-tablet-lg {
        header {
            width: 1220px;
        }
    }
}

.nav-drawer-background {
    @include opacity-ani-modal;
    background-color: var(--gray-80);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 5;

    &.show-nav-drawer-background {
        display: block;
        opacity: 0.4;
    }
}
.l-nav-drawer {
    $nd_width: 275px;
    height: 100vh;
    width: $nd_width;
    background: #f1f0ef;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: -$nd_width;
    top: 0;
    bottom: 0;
    z-index: 10;
    @include transition(left, 0.3s, cubic-bezier(0.25, 0.8, 0.25, 0.8));
    .top {
        display: flex;
        flex-direction: column;
        padding: 30px 30px 0 30px;
        .top-upper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .gear-icon {
                cursor: pointer;
            }
        }
        .top-bottom {
            margin-top: 5px;
        }
    }

    .content {
        padding: 0 25px 0 20px;
        .navigation-button {
            width: 230px;
            height: 50px;
            padding: 10px 12px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            @include rw-type-r(1.8rem, 29px, var(--gray-100));
            .nb-icon {
                margin-right: 10px;
            }
            span {
                margin-top: 3px;
            }

            &:hover {
                @include rw-type-b(1.8rem, 29px, var(--font-color));
            }
            &:focus {
                box-sizing: border-box;
                border: 2px solid var(--font-color);
            }

            &.selected {
                background-color: var(--gray-60);
                @include rw-type-b(1.8rem, 29px, var(--font-color));

                &:hover {
                    background-color: var(--gray-60);
                    @include rw-type-b(1.8rem, 29px, var(--font-color));
                }
                &:focus {
                    box-sizing: border-box;
                    border: 2px solid var(--font-color);
                }
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        padding: 22px;
        .l-center-user {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            .avatar {
                background: #eb7c7c;
                border-radius: 19px;
                width: 46px;
                height: 46px;
                margin-right: 12px;
            }
            .l-user-info {
                display: flex;
                flex-direction: column;
                width: calc(100% - 70px);
                .user-name {
                    @include rw-type-r(1.8rem, 29px, var(--font-color));
                }
                .user-position {
                    @include rw-type-r(1.6rem, 23px, var(--gray-90));
                }
            }
            .gear-icon {
                cursor: pointer;
            }
        }
        .l-inquiry-button {
            margin-top: 24px;
            border: 1.5px solid #d8d8d8;
            border-radius: 14px;
            cursor: pointer;
            width: 230px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.show-drawer {
        left: 0;
    }
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--gray-60);
    border-radius: 15px;
    cursor: pointer;
}

.close-icon {
    width: 22px;
    height: 22px;
}
