<section class="l-main-tablet-header user-select-none">
    <header>
        <aside class="left">
            <div class="header-button" (click)="toggleShowNavDrawer()">
                <div class="list-bold-icon"></div>
            </div>
        </aside>
        <main class="rw-type-b20">
            {{ routeName }}
        </main>
        <aside class="right">
            <div class="header-button" (click)="onDrawerButtonClick.emit('member-list')">
                <div class="user-list-icon"></div>
            </div>
            <div class="header-button" (click)="onDrawerButtonClick.emit('chatting')">
                <div class="chat-circle-dots-icon"></div>
            </div>
        </aside>
    </header>
</section>

<div class="nav-drawer-background" [class.show-nav-drawer-background]="showNavDrawer"></div>
<rwm-main-menu
    [mode]="'tablet'"
    [showTabletNav]="showNavDrawer"
    (onShowTabletClose)="showNavDrawer = false"
></rwm-main-menu>
