<section class="l-reset-password">
    <div class="reset-password">
        <div class="redwhale-logo"></div>
        <span class="title">새로운 비밀번호를 입력해 주세요.</span>
        <rwa-text-field
            class="password"
            [inputLimit]="15"
            [textFieldType]="'password'"
            [hint]="'영어, 숫자, 특수문자 조합 8~15자 이내'"
            [status]="passwordStatus"
            [statusText]="passwordError"
            [value]="password"
            (onValueChange)="password = $event"
            label="새로운 비밀번호"
            placeholder="비밀번호"
            (keyup)="onKeyup($event, 'password')"
        ></rwa-text-field>
        <rwa-text-field
            class="password-confirm"
            [inputLimit]="15"
            [textFieldType]="'password'"
            [status]="confirmPasswordStatus"
            [statusText]="confirmPasswordError"
            [value]="confirmPassword"
            (onValueChange)="confirmPassword = $event"
            label="비밀번호 확인"
            placeholder="비밀번호를 한 번 더 입력해 주세요."
            (keyup)="onKeyup($event, 'password')"
        ></rwa-text-field>
        <div class="l-text-button">
            <rwa-button
                [width]="'80px'"
                [height]="'45px'"
                [fontColor]="'var(--gray-90)'"
                [bgColor]="'var(--white)'"
                [hoverBgColor]="'var(--gray-30)'"
                [loadingColor]="'var(--font-color)'"
                (onClick)="goBack()"
            >
                <ng-template btIdleContent><span class="bt-text-cancel">취소</span> </ng-template>
            </rwa-button>
            <rwa-button
                [padding]="'9px 25px 7px'"
                [height]="'45px'"
                [disable]="!formCheck()"
                [status]="changePwStatus"
                (onClick)="formCheck() && changePassword()"
            >
                <ng-template btIdleContent><span class="bt-text-next">비밀번호 변경하기</span> </ng-template>
                <ng-template btPendingContent><span class="bt-text-next">비밀번호 변경하기</span> </ng-template>
            </rwa-button>
        </div>
    </div>
</section>

<rwa-modal
    [(visible)]="modalSendLink"
    [data]="modalSendLinkData"
    [blockClickOutside]="true"
    [type]="'oneButton'"
    (cancel)="modalSendLink = false"
    (confirm)="onModalSendLinkConfirm()"
></rwa-modal>
