@import './src/styles.scss';
* {
    @include css-init;
}

.l-textarea {
    position: relative;
    outline: none;

    box-sizing: border-box;
    @include mini-modal-shadow();
    border-radius: 15px;
    border: 1px solid var(--gray-50);
    background-color: var(--gray-30);
    padding: 20px 22px;
    &:hover {
        border: 1px solid var(--gray-90);
    }
    &:focus {
        border: 1px solid var(--gray-90);
    }
    &.textarea-focus {
        border: 1px solid var(--gray-90);
    }

    &.with-button {
        padding-bottom: 65px;
    }

    textarea {
        background-color: var(--gray-30);
        resize: none;
        outline: none;
        border: none !important;
        width: 100%;
        height: 100%;
        @include rw-type-r(1.7rem, 28px, var(--font-color));

        &:disabled {
            cursor: not-allowed;
            //&:hover {
            //    border: 1px solid var(--gray-50);
            //}
        }

        &:focus {
            @include rw-type-b(1.7rem, 28px, var(--font-color));
        }
        &::placeholder {
            @include rw-type-r(1.7rem, 28px, var(--gray-80));
        }
        &::-webkit-input-placeholder {
            @include rw-type-r(1.7rem, 28px, var(--gray-80));
        }
        &:-ms-input-placeholder {
            @include rw-type-r(1.7rem, 28px, var(--gray-80));
        }
        &:focus::placeholder {
            @include rw-type-r(1.7rem, 28px, var(--gray-80));
        }
        &:focus::-webkit-input-placeholder {
            @include rw-type-r(1.7rem, 28px, var(--gray-80));
        }
        &:focus:-ms-input-placeholder {
            @include rw-type-r(1.7rem, 28px, var(--gray-80));
        }
    }

    rwa-button {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    .button-text {
        @include rw-type-b(1.7rem, 28px, var(--white));
    }
}
