@import './src/styles.scss';
* {
    @include css-init;
}

.rw-modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--gray-80);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 1005;
}

.rw-modal-background-show {
    opacity: 0.4;
}

.rw-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;

    .rw-modal {
        position: relative;
        width: 540px;
        max-height: 940px;
        height: calc(100vh - 120px);
        padding: 0 0 15px 0;
        border: 1px solid var(--border-color);
        border-radius: 20px;
        background-color: var(--white);
        @include modal-shadow();
        opacity: 0;
        transition: opacity 0s;
        -moz-transition: opacity 0s;
        -webkit-transition: opacity 0s;
        -o-transition: opacity 0s;

        .title {
            height: 70px;
            border-bottom: 1px solid var(--gray-50);
            padding: 0 25px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .rw-typo-bodytext1 {
                @include rw-type-b(2rem, 31px, var(--font-color));
            }

            img {
                position: relative;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }

        .content {
            width: 100%;
            height: calc(100% - 70px);
            padding: 25px 25px 0;
        }
    }
}

.rw-modal-wrapper-show {
    .rw-modal {
        opacity: 1;
    }
}

.text {
    &__title_large_chap {
        @include rw-type-b(1.7rem, 28.3px, var(--font-color));
        margin-bottom: 30px;
    }
    &__title_small_chap {
        @include rw-type-b(1.5rem, 23px, var(--font-color));
        margin-bottom: 15px;
    }
    &__content {
        @include rw-type-r(1.5rem, 23px, var(--font-color));
    }

    &--paragraph {
        margin-bottom: 30px;
    }
    &--content_margin {
        margin-bottom: 15px;
    }
    &--content_margin_small {
        margin-bottom: 8px;
    }
}
.text-top-margin {
    margin-top: 10px;
}
.p-top-margin {
    margin-top: 30px;
}
.p-bottom-margin {
    margin-bottom: 30px;
}
.title-top-margin {
    margin-top: 40px;
}

ol {
    &.first {
        padding-left: 14px;
        margin: 0px;
        @include rw-type-r(1.5rem, 23px, var(--font-color));
    }
    &.second {
        padding-left: 14px;
        margin: 0;
        @include rw-type-r(1.5rem, 23px var(--gray-90));
        color: var(--gray-90) !important;

        li {
            &:not(:last-of-type) {
                margin-bottom: 8px;
            }
            &::marker {
                content: counter(list-item) ') ';
            }
        }
    }
    &.third {
        padding-left: 14px;
        margin: 0;

        @include rw-type-r(1.5rem, 23px var(--gray-90));
        color: var(--gray-90) !important;
        li {
            margin-bottom: 8px;
        }
    }
}

ol {
    &.braket_number {
        counter-reset: li;
        list-style-type: none;

        & > li {
            position: relative;

            &::marker {
                content: '';
            }
            &:before {
                content: '(' counter(li) ')';
                counter-increment: li;
                height: 14px;
                width: 14px;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                left: -16px;
                top: 1px;
                @include rw-type-r(1.2rem, 5px var(--gray-90));
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &.braket_first {
        counter-reset: li;
        list-style-type: none;

        & > li {
            position: relative;

            &:before {
                content: counter(li) ')';
                counter-increment: li;
                height: 14px;
                width: 14px;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                left: -16px;
                top: 3.5px;
                @include rw-type-r(1.2rem, 5px, var(--gray-90));
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.li_margin {
    margin-bottom: 8px;
}
