@import './src/styles.scss';
* {
    @include css-init;
}

div.l-tap {
    display: flex;
    flex-direction: column;

    .l-button {
        display: flex;
        align-items: center;
        position: relative;

        button {
            box-sizing: border-box;
            outline: none;
            border: 2px solid transparent;
            background-color: transparent;
            height: 40px;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            position: relative;
            flex-direction: column;
            border-radius: 2px;

            &:not(:first-of-type) {
                margin-left: 30px;
            }
            .name {
                display: flex;
                align-items: center;
                justify-content: center;
                @include rw-type-b(1.7rem, 28.3px, var(--gray-80));
                text-align: center;
            }
            .icon {
                margin-right: 6px;
            }
            .underline,
            .icon {
                opacity: 0.3;
            }
            .underline {
                display: none;
                width: 100%;
                height: 5px;
                border-radius: 5px;
            }

            &:hover,
            &:active {
                .name {
                    color: var(--gray-90);
                }
                .underline,
                .icon {
                    opacity: 0.4;
                }
                .underline {
                    display: block;
                }
            }
            &.selected {
                .name {
                    color: var(--font-color);
                }
                .underline,
                .icon {
                    opacity: 1;
                }
                .underline {
                    display: block;
                }
            }

            &.focus {
                &:focus {
                    border: 2px solid var(--font-color) !important;
                }
            }
        }
    }
}
