@import './src/styles.scss';
* {
    @include css-init;
}

.pt-title {
    margin-bottom: 10px;
}

.key {
    @include rw-type-r(1.7rem, 28px, var(--gray-90));
    min-width: 42px;
    margin-right: 35px;
}
.value {
    &-bold1 {
        @include rw-type-b(1.7rem, 28px, var(--font-color));
    }
    &-bold2 {
        @include rw-type-r(1.5rem, 23px, var(--font-color));
    }
    &-desc {
        @include rw-type-r(1.5rem, 23px, var(--font-color));
    }
}

section#l-discount-benefit-wrapper {
    display: flex;
    flex-direction: column;
    div#l-discount-benefit {
        width: 530px;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: 20px;
        @include layout-shadow();

        .discount-benefit-title {
            @include rw-type-b(2rem, 31px, var(--font-color));
            padding: 28px 28px 25px;
        }

        #discount-benefit {
            display: flex;
            flex-direction: column;
            align-items: center;

            //border-radius: 5px;
            //padding: 20px 0;
            .db-divider {
                width: calc(100% - 40px);
                margin: 20px 0;
                padding: 0 3px;
                height: 1px;
                border-top: 1px solid var(--gray-50);
                &--full {
                    margin: 20px 0;
                    padding: 0 3px;
                    height: 1px;
                    border-top: 1px solid var(--gray-50);
                    width: 100%;
                }
            }

            .right-arrow {
                background-image: url('/assets/icons/etc/short_right_arrow_darkgrey.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 18px;
                height: 18px;
                margin-left: 2px;
            }
            .db-item {
                display: flex;
                width: 100%;
                padding: 0 28px;

                .l-db-item-value {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 85px);
                    .value-main {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .value-desc {
                        margin-top: 1px;
                    }
                    .l-center-url {
                        margin-top: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        position: relative;

                        .center-url {
                            display: flex;
                            align-items: flex-start;
                            width: 100%;

                            rwa-button {
                                margin-top: 1.5px;
                                margin-left: 15px;
                            }

                            .button-text {
                                @include rw-type-b(1.7rem, 28px, var(--white));
                            }
                        }
                    }
                    .l-month-detail {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        background: var(--background-color);
                        border-radius: 6px;
                        padding: 13px 30px;
                        .month-detail-item {
                            display: flex;
                            flex-direction: column;
                            .md-item-text {
                                @include rw-type-r(1.5rem, 23.1px, var(--gray-90));
                                text-align: center;
                            }
                            .md-item-price {
                                @include rw-type-b(1.7rem, 28.3px, var(--font-color));
                                text-align: center;
                            }
                        }
                        .right-arrow {
                            background-image: url('/assets/icons/arrow/caret-right-1-g70.svg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin: 0 35px;
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
            .l-total-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0 28px 25px;
                .price-text {
                    @include rw-type-r(1.7rem, 28px, var(--gray-90));
                }
                .price-value {
                    @include rw-type-b(1.7rem, 28px, var(--red-100));
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    section#l-discount-benefit-wrapper {
        display: flex;
        flex-direction: column;
        div#l-discount-benefit {
            width: 635px;
        }
    }

    .l-month-detail {
        padding: 11px 45px !important;
    }
}
