<div class="l-center-list user-select-none">
    <header>
        <div class="header-tag">
            <img
                [src]="'/assets/images/logo/full-logo.png'"
                alt="full-logo.png"
                [style.width]="'120px'"
                [style.height]="'21px'"
            />

            <rwa-button
                [padding]="'8px'"
                [fontColor]="'var(--gray-90)'"
                [bgColor]="'var(--white)'"
                [hoverBgColor]="'var(--gray-30)'"
                [loadingColor]="'var(--font-color)'"
                [borderRadius]="'10px'"
                (onClick)="openMyInfoModal()"
            >
                <ng-template btIdleContent>
                    <div class="l-user-picture" [style.background-color]="user.color ?? '#EB7C7C'">
                        <img
                            *ngIf="user.picture"
                            [src]="user.picture"
                            loading="lazy"
                            alt="user-picture.png"
                            [style.width]="'28px'"
                            [style.height]="'28px'"
                        />
                        <img
                            *ngIf="!user.picture"
                            [src]="'/assets/icons/avatar/avatar-smiley-white.svg'"
                            loading="lazy"
                            alt="avatar-smiley-white.svg"
                            [style.width]="'14px'"
                            [style.height]="'14px'"
                        />
                    </div>
                    <span class="user-name">{{ user.name }}</span>
                </ng-template>
            </rwa-button>
        </div>
    </header>

    <section class="thin-scroll-y-overlay thin-scroll-x-overlay">
        <div class="l-center-list">
            <div class="center-list__header">
                <div class="center-list__header-left">
                    <div class="center-list__header-title">내 센터</div>
                    <div class="center-list__header-desc">회원 권한의 센터는 앱에서 확인하실 수 있어요.</div>
                </div>
                <rwa-ghost-button
                    padding="7.5px 15px 5.5px 11px"
                    [height]="'42px'"
                    [borderColor]="'var(--red-100)'"
                    [hoverBorderColor]="'var(--red-100)'"
                    [fontColor]="'var(--red-100)'"
                    [hoverBgColor]="'var(--red-5)'"
                    (onClick)="showCreateCenterModal = true"
                >
                    <ng-template gbtIdleContent>
                        <rwa-svg-plus [margin]="'0 5px 1.5px 0'" [color]="'var(--red-100)'"></rwa-svg-plus>
                        <span class="create-center-text">센터 만들기</span></ng-template
                    >
                </rwa-ghost-button>
            </div>

            <div class="center-list-items">
                <ng-container *ngIf="centerLoading == 'idle'">
                    <div *ngIf="centerList.length == 0" class="empty-item-box">
                        <span class="empty-text"> 👀 아직 입장할 수 있는 센터가 없어요. </span>
                        <span class="empty-text">
                            센터에 직접 초대를 요청하거나<br />
                            센터를 만들어 보세요.
                        </span>
                    </div>
                    <ng-container *ngFor="let centerItem of centerList">
                        <rwm-center-list-item
                            [center]="centerItem"
                            (onAgreeInvite)="onAgreeInvite($event)"
                            (onRefuseInvite)="onRefuseInvite($event)"
                        ></rwm-center-list-item>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="centerLoading == 'pending'">
                    <ngx-skeleton-loader
                        *ngFor="let i of [1, 2, 3]"
                        count="1"
                        appearance="line"
                        [theme]="{ width: '540px', height: '242px', 'border-radius': '20px', margin: '0' }"
                    ></ngx-skeleton-loader>
                </ng-container>
            </div>
        </div>
    </section>
</div>

<rwm-create-center-modal
    [(visible)]="showCreateCenterModal"
    (close)="showCreateCenterModal = false"
    (onCenterCreated)="onCreatedCenter($event)"
></rwm-create-center-modal>

<rwm-my-profile-modal
    [(visible)]="showMyInformation"
    [user]="user"
    (close)="closeMyInfoModal()"
    (open)="openMyInfoModal()"
></rwm-my-profile-modal>

