<div class="l-center-membership-card">
    <div class="tag" *ngIf="false">
        <span class="tag-text">{{ '자동 결제에 실패했어요! 결제 수단을 확인해 주세요.' }}</span>
        <rwa-text-button fontWeight="700" [showUnderLine]="false"> 자세히 보기 </rwa-text-button>
    </div>
    <div class="center-membership-card">
        <div class="cmc-top">
            <div class="cmc-top__left">
                <div class="membership-name">
                    <span>{{ '월 이용권' }}</span>
                    <span class="number-of-times"> ({{ '0회차' }}) </span>
                </div>

                <div class="membership-duration">{{ '23년 0월 0일' }} ~ {{ '24년 00월 00일' }} {{ '사용 예정' }}</div>
            </div>

            <div class="cmc-top__right">
                <rwa-ghost-button [borderWidth]="'1px'" [padding]="'5px 11px 3px'">
                    <ng-template gbtIdleContent><span class="button-text">해지</span></ng-template>
                </rwa-ghost-button>
            </div>
        </div>

        <div class="cmc-bottom">
            <div class="l-payment-date">
                <div class="payment-category-name">결제일</div>
                <div class="payment-category-value">{{ '23년 0월 00일' }}</div>
            </div>
            <div class="divider"></div>
            <div class="l-payment-method">
                <div class="payment-category-name">결제 수단</div>
                <div class="payment-category-value">{{ '하나카카오페이하나카카오...(0000)' }}</div>
            </div>
            <div class="divider"></div>
            <div class="l-payment-price">
                <div class="payment-category-name">결제 금액</div>
                <div class="payment-category-value">
                    <span class="discount-price">{{ '000,000원' }}</span>
                    <div class="total-price">
                        <span>{{ '000,000원' }}</span>
                        <div class="caret-circle-down-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
