@import './src/styles.scss';
.rw-toast {
    $height: 41px;
    display: none;
    position: fixed;
    bottom: 60px;
    height: $height;
    padding: 8.5px 23px;
    border-radius: 58px;
    background-color: var(--gray-100);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 2000;

    .rw-typo-bodytext2 {
        @include rw-type-r(1.7rem, 28px, var(--white));
    }

    svg {
        position: relative;
        top: 0;
        width: 28px;
        height: 28px;
        margin-left: 30px;
        cursor: pointer;
    }
}

.rw-toast-show {
    opacity: 1;
}
