@import './src/styles.scss';
* {
    @include css-init;
}

.rw-toast {
    $height: 46px;
    display: none;
    position: fixed;
    bottom: 60px;
    min-height: $height;
    padding: 9px 22px 8px;
    border-radius: 58px;
    background-color: var(--gray-100);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.8);
    z-index: 2000;

    .toast-text {
        @include rw-type-r(1.7rem, 28px, var(--white));
    }

    .close-icon {
        background-image: url('/assets/icons/etc/x-bold.svg');
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: contain;
        width: 22px;
        height: 22px;
        margin-left: 35px;
    }
}

.rw-toast-show {
    opacity: 1;
}
