<section class="l-main-menu user-select-none">
    <div class="top">
        <div class="top-upper">
            <span class="rw-type-b22">센터명</span>
            <div class="gear-icon"></div>
        </div>
        <div class="top-bottom">
            {{ 'redwhale.xyz/centerurl' }}
        </div>
    </div>
    <div class="content">
        <div class="navigation-button" [class.selected]="true">
            <div class="nb-icon user-circle-icon"></div>
            <span>회원관리</span>
        </div>
        <div class="navigation-button" [class.selected]="false">
            <div class="nb-icon sale-icon"></div>
            <span>매출</span>
        </div>
        <div class="navigation-button" [class.selected]="false">
            <div class="nb-icon calendar-icon"></div>
            <span>스케줄</span>
        </div>
        <div class="navigation-button" [class.selected]="false">
            <div class="nb-icon chatting-icon"></div>
            <span>채팅</span>
        </div>
        <div class="navigation-button" [class.selected]="false">
            <div class="nb-icon message-icon"></div>
            <span>문자</span>
        </div>
        <div class="navigation-button" [class.selected]="false">
            <div class="nb-icon product-icon"></div>
            <span>상품</span>
        </div>
        <div class="navigation-button" [class.selected]="false">
            <div class="nb-icon lesson-icon"></div>
            <span>수업</span>
        </div>
    </div>
    <div class="bottom">
        <div class="l-center-user">
            <div class="avatar"></div>
            <div class="l-user-info">
                <div class="user-name">
                    {{ '강신호' }}
                </div>
                <div class="user-position">
                    {{ '운영자' }}
                </div>
            </div>
            <div class="three-dots-icon"></div>
        </div>
        <div class="l-inquiry-button rw-type-r18">문의하기</div>
    </div>
</section>
