@import './src/styles.scss';

* {
    @include css-init;
}

.l-dropdown-datepicker {
    background: var(--white);
    overflow: hidden;

    display: flex;
    flex-direction: column;

    &.mode-alone {
        border-radius: 14px;
        border: 1px solid var(--gray-60);
        @include card-shadow();
    }
    &.mode-child {
    }

    .l-category {
        box-sizing: border-box;
        position: relative;
        .category {
            width: 100%;
            height: 100%;
            padding: 25px 25px 0;
        }
    }
    .l-date-picker {
        display: flex;
        flex-direction: column;
        align-items: center;

        .l-date-tag {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 29px 28px;
            .tags {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:not(:last-of-type) {
                    margin-bottom: 11px;
                }
                .tag-text {
                    @include rw-type-r(1.5rem, 23px, var(--gray-100));
                    &.selected {
                        @include rw-type-b(1.5rem, 23px, var(--red-100));
                    }
                }
            }
        }
        .l-save-button {
            width: 100%;
            height: 64px;
            @include lower-bar-shadow();
            padding: 11px 25px 11px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .date-range {
                @include rw-type-r(1.5rem, 23px, var(--font-color));
            }
        }
    }
    .l-month-picker {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0 0;
        .month-picker-header {
            width: 140px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 8px 20px;
        }
        .l-month-item {
            display: grid;
            gap: 15px;
            grid-template-rows: repeat(4, 80px);
            grid-template-columns: repeat(3, 80px);
            .month-text {
                @include rw-type-r(1.5rem, 23px, var(--gray-100));
                &.selected {
                    @include rw-type-b(1.5rem, 23px, var(--red-100));
                }
            }
        }
        .l-save-button {
            width: 100%;
            height: 64px;
            margin: 55px 0 0;
            @include lower-bar-shadow();
            padding: 11px 25px 11px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .date-range {
                @include rw-type-r(1.5rem, 23px, var(--font-color));
            }
        }
    }

    .save-button-text {
        @include rw-type-b(1.7rem, 28px, var(--white));
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    &.focused {
        &:focus {
            border: 2px solid var(--font-color);
            background-color: var(--white);
        }
    }
}

.caret-cl {
    background-image: url('/assets/icons/arrow/caret-circle-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 26px;
    min-height: 26px;
    cursor: pointer;
    shape-rendering: geometricPrecision;
    &:hover {
        background-image: url('/assets/icons/arrow/caret-circle-left-duotone.svg');
    }
}
.caret-cr {
    background-image: url('/assets/icons/arrow/caret-circle-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 26px;
    min-height: 26px;
    cursor: pointer;
    shape-rendering: geometricPrecision;
    &:hover {
        background-image: url('/assets/icons/arrow/caret-circle-right-duotone.svg');
    }
}
