@import './src/styles.scss';
* {
    @include css-init;
}

.l-toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: 2px solid transparent;
    background-color: transparent;
    box-sizing: border-box;
    &.without-label {
        &:focus {
            input {
                border: 2px solid var(--font-color) !important;
            }
        }
    }
    &.with-label {
        &:focus {
            border: 2px solid var(--font-color) !important;
        }
    }

    &:disabled {
        opacity: 0.45;
        cursor: not-allowed;
        input,
        label {
            cursor: not-allowed !important;
        }
        &:hover {
            input {
                background-color: var(--gray-50);
                border-color: var(--gray-50);
                &:checked {
                    border-color: var(--red-100);
                    background-color: var(--red-100);
                }
            }
        }
    }

    &:hover {
        input {
            background-color: var(--gray-60);
            border-color: var(--gray-60);
            &:checked {
                background-color: var(--red-200);
                border-color: var(--red-200);
            }
        }
    }

    input {
        width: 51px;
        height: 32px;
        background-color: var(--gray-50);
        border-radius: 60px;
        cursor: pointer;
        appearance: none;
        border: 2px solid var(--gray-50);
        position: relative;

        &:after {
            content: '';
            left: 5px;
            top: 4.5px;
            bottom: 0;
            right: 0;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--white);
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
        }

        &:checked {
            border-color: var(--red-100);
            background-color: var(--red-100);
            &:after {
                left: 22px;
                top: 4.5px;
                bottom: 0;
                right: 0;
            }
        }

        + label {
            cursor: pointer;
            span {
                font-family: 'NEXON2_Regular', sans-serif;
                font-weight: 400;
                font-size: 17px;
                line-height: 28px;
                vertical-align: middle;
                padding: 0 0 0 10px;
                color: var(--font-color);
            }
        }
    }
}
