<section class="l-forgot-password">
    <div class="forgot-password">
        <div class="redwhale-logo"></div>
        <span class="title">비밀번호를 잊으셨나요?</span>
        <div class="desc">
            가입한 이메일 주소로<br />
            비밀번호 재설정 링크를 보내드려요.
        </div>
        <rwa-text-field
            class="email"
            [inputLimit]="50"
            [value]="email"
            (onValueChange)="email = $event"
            label="가입한 이메일 주소"
            placeholder="이메일 주소"
            (keyup.enter)="formCheck() && sendResetPasswordLinkMail()"
        ></rwa-text-field>
        <div class="l-text-button">
            <rwa-button
                [width]="'80px'"
                [height]="'45px'"
                [fontColor]="'var(--gray-90)'"
                [bgColor]="'var(--white)'"
                [hoverBgColor]="'var(--gray-30)'"
                [loadingColor]="'var(--font-color)'"
                (onClick)="goBack()"
            >
                <ng-template btIdleContent><span class="bt-text-cancel">취소</span> </ng-template>
            </rwa-button>
            <rwa-button
                [padding]="'9px 25px 7px'"
                [height]="'45px'"
                [disable]="!formCheck()"
                [status]="sendResetPwLinkStatus"
                (onClick)="formCheck() && sendResetPasswordLinkMail()"
            >
                <ng-template btIdleContent><span class="bt-text-next">다음</span> </ng-template>
                <ng-template btPendingContent><span class="bt-text-next">다음</span> </ng-template>
            </rwa-button>
        </div>
    </div>
</section>
