<div class="nav-drawer-background" [class.show-nav-drawer-background]="viewDrawer && showDrawer"></div>

<section class="l-main-drawer" [class.drawer-open]="viewDrawer && showDrawer">
    <rwa-icon-ghost-button
        class="close-button"
        *ngIf="viewDrawer && showDrawer"
        (click)="onShowDrawerClick(undefined, false)"
        borderWidth="1px"
        [sizeType]="'lg'"
    >
        <ng-template iconGhostBtIdleContent>
            <div class="close-icon"></div>
        </ng-template>
    </rwa-icon-ghost-button>

    <div class="l-dr-button" [class.open]="viewDrawer && showDrawer">
        <rwa-icon-ghost-button
            class="dr-bt"
            sizeType="lg"
            borderWidth="1px"
            [bgColor]="viewDrawer == 'member-list' ? 'var(--gray-60)' : 'var(--background-color)'"
            [hoverBgColor]="viewDrawer == 'member-list' ? 'var(--gray-60)' : 'var(--gray-30)'"
            (onClick)="onShowDrawerClick('member-list')"
        >
            <ng-template iconGhostBtIdleContent>
                <rwa-svg-user-list [width]="'24px'" [height]="'24px'"></rwa-svg-user-list>
            </ng-template>
        </rwa-icon-ghost-button>
        <rwa-icon-ghost-button
            class="dr-bt"
            sizeType="lg"
            borderWidth="1px"
            [bgColor]="viewDrawer == 'chatting' ? 'var(--gray-60)' : 'var(--background-color)'"
            [hoverBgColor]="viewDrawer == 'chatting' ? 'var(--gray-60)' : 'var(--gray-30)'"
            (onClick)="onShowDrawerClick('chatting')"
        >
            <ng-template iconGhostBtIdleContent>
                <div class="chat-circle-dots-icon"></div>
            </ng-template>
        </rwa-icon-ghost-button>
    </div>

    <div class="main-drawer">
        <rwo-chatting-drawer *ngIf="viewDrawer == 'chatting' && showDrawer"></rwo-chatting-drawer>
        <rwo-member-list-drawer *ngIf="viewDrawer == 'member-list' && showDrawer"></rwo-member-list-drawer>
    </div>
</section>
