<section class="l-section">
    <nav class="tablet-show-status">
        <rwm-main-tablet-header (onDrawerButtonClick)="onDrawerButtonClick($event)"></rwm-main-tablet-header>
    </nav>
    <div class="l-main">
        <main class="scroll-y-overlay" [class.open-drawer]="showDrawer">
            <div class="l-nav h-100">
                <rwm-main-menu class="pc-show-status"></rwm-main-menu>
            </div>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>

            <div class="dummy"></div>
        </main>
        <div class="l-drawer" [class.open-drawer]="showDrawer">
            <rwt-main-drawer
                [viewDrawer]="viewDrawer"
                [showDrawer]="showDrawer"
                (onShowDrawerChange)="onShowDrawerChange($event)"
            ></rwt-main-drawer>
        </div>
    </div>
</section>

<rwm-center-product-info-toast
    [center]="center"
    (onRetryPaymentClick)="(false)"
    (onPurchaseCenterMembershipClick)="routeToPayment()"
></rwm-center-product-info-toast>

<rwm-phone-certification-modal
    [(visible)]="showPhoneVerifModal"
    (confirm)="onPhoneVerifModalConfirm()"
></rwm-phone-certification-modal>

<rwm-center-expired-modal
    [(visible)]="showCenterExpiredModal"
    [blockClickOutside]="true"
    [width]="'345px'"
    [padding]="'30px 25px 25px'"
    [center]="center"
    [centerExpiredInfo]="centerExpiredInfo"
    [centerStatus]="centerExpiredStatus"
    (close)="showCenterExpiredModal = false"
></rwm-center-expired-modal>
