<section class="l-login">
    <div class="login">
        <div class="redwhale-logo"></div>
        <span class="title">이메일 로그인</span>
        <rwa-text-field
            class="email"
            [inputLimit]="50"
            [value]="email"
            (onValueChange)="email = $event"
            label="이메일 주소"
            placeholder="이메일 주소"
            (keyup.enter)="formCheck() && signInWithEmail()"
        ></rwa-text-field>
        <rwa-text-field
            class="password"
            [inputLimit]="15"
            [value]="password"
            (onValueChange)="password = $event"
            [textFieldType]="'password'"
            label="비밀번호"
            placeholder="영어, 숫자, 특수문자 조합 8~15자 이내"
            (keyup.enter)="formCheck() && signInWithEmail()"
        ></rwa-text-field>
        <div class="l-login-button">
            <rwa-checkbox
                [checked]="emailChecked"
                (onClick)="toggleRememberMe($event)"
                [label]="'이메일 기억하기'"
            ></rwa-checkbox>
            <rwa-button
                [status]="loginBtStatus"
                [width]="'95px'"
                [height]="'45px'"
                [loadingName]="'login-button'"
                [loadingMargin]="'0'"
                [disable]="!formCheck()"
                (onClick)="formCheck() && signInWithEmail()"
            >
                <ng-template btIdleContent><span class="login-text">로그인</span></ng-template>
                <ng-template btPendingContent></ng-template>
            </rwa-button>
        </div>
        <div class="l-text-button">
            <rwa-text-button
                [fontSize]="'1.5rem'"
                [lineHeight]="'23px'"
                [fontWeight]="'400'"
                (onClick)="routeTo('/auth/forgot-password')"
            >
                비밀번호 찾기
            </rwa-text-button>
            <div class="tb-divider"></div>
            <rwa-text-button
                [fontSize]="'1.5rem'"
                [lineHeight]="'23px'"
                [fontWeight]="'400'"
                (onClick)="routeTo('/auth/terms')"
                >회원가입</rwa-text-button
            >
        </div>
        <div class="vertical-divider"></div>
        <div class="l-social-button">
            <rwa-icon-button
                id="kakao"
                rwTooltip
                rwTooltipPlacement="bottom"
                rwTooltipTitle="카카오 계정으로 로그인"
                [sizeType]="'md'"
                [status]="kakaoBtStatus"
                [bgColor]="'#FEE500'"
                [hoverBgColor]="'#FEE500'"
                [loadingName]="'kakaoBt'"
                (onClick)="signInWithKakao()"
            >
                <ng-template iconBtIdleContent>
                    <img src="assets/icons/social/kakao.svg" alt="kakao.svg" />
                </ng-template>
                <ng-template iconBtPendingContent></ng-template>
            </rwa-icon-button>
            <rwa-icon-ghost-button
                id="google"
                rwTooltip
                rwTooltipPlacement="bottom"
                rwTooltipTitle="구글 계정으로 로그인"
                [status]="googleBtStatus"
                [sizeType]="'md'"
                [hoverBgColor]="'var(--white)'"
                [loadingName]="'googleBt'"
                [loadingColor]="'var(--font-color)'"
                (onClick)="signInWithGoogle()"
            >
                <ng-template iconGhostBtIdleContent>
                    <img src="assets/icons/social/google.svg" alt="google.svg" />
                </ng-template>
                <ng-template iconGhostBtPendingContent></ng-template>
            </rwa-icon-ghost-button>
            <rwa-icon-button
                id="apple"
                rwTooltip
                rwTooltipPlacement="bottom"
                rwTooltipTitle="애플 계정으로 로그인"
                [sizeType]="'md'"
                [status]="appleBtStatus"
                [bgColor]="'var(--font-color)'"
                [hoverBgColor]="'var(--font-color)'"
                [loadingName]="'appleBt'"
                (onClick)="signInWithApple()"
            >
                <ng-template iconBtIdleContent>
                    <img src="assets/icons/social/apple.svg" alt="apple.svg" />
                </ng-template>
                <ng-template iconBtPendingContent></ng-template>
            </rwa-icon-button>
        </div>
    </div>
</section>
