/* You can add global styles to this file, and also import other style files */

// Colors
:root {
    --white: #ffffff;
    --black: #000000;

    --lightergrey: #e9e9e9;
    --lightgrey: #cfcfcf;
    --grey: #c9c9c9;
    --darkgrey: #606060;

    --border-color: #f1f1f1;
    --background-color: #f6f6f6;
    --font-color: #212121;

    --lighterred: #ffb9c2;
    --lightred: #fb7f8f;
    --red: #e34a5e;
    --darkred: #c2273b;

    --lightergreen: #ace5d7;
    --lightgreen: #62c7af;
    --green: #23967c;
    --darkgreen: #0d755e;

    --lighteryellow: #fed2a9;
    --lightyellow: #ffb774;
    --yellow: #ed9440;
    --darkyellow: #c96b12;

    --lighterblue: #d6e1ff;
    --lightblue: #88a1e4;
    --blue: #4e70c9;
    --darkblue: #3457b1;

    --hp-lighergrey: #f9f9f9;
    --hp-lightgrey: #979797;
    --hp-grey: #606060;
    --hp-black: #212121;
    --hp-red: #e34a5e;
}

// Typography
.rw-typo-headline1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.484px;
    color: var(--font-color);
}

.rw-typo-headline2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.484px;
    color: var(--font-color);
}

.rw-typo-title1 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.256px;
    color: var(--font-color);
}

.rw-typo-title2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.225px;
    color: var(--font-color);
}

.rw-typo-title2-none-color {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.225px;
}

.rw-typo-title2-medium {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.225px;
    color: var(--font-color);
}

.rw-typo-bodytext0-bold {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.196px;
    color: var(--font-color);
}
.rw-typo-bodytext0-regular {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.196px;
    color: var(--font-color);
}

.rw-typo-bodytext0-darkgrey-bold {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.256px;
    color: var(--darkgrey);
}
.rw-typo-bodytext0-red-bold {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.256px;
    color: var(--red);
}

.rw-typo-bodytext0 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.196px;
    color: var(--font-color);
}

.rw-typo-bodytext0-darkgrey {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.196px;
    color: var(--darkgrey);
}

.rw-typo-bodytext1 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.196px;
    color: var(--font-color);
}
.rw-typo-bodytext1_darkgrey {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.196px;
    color: var(--darkgrey);
}
.rw-typo-bodytext1_grey {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.196px;
    color: var(--grey);
}

.rw-typo-bodytext2 {
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: -0.182px;
    color: var(--font-color);
}

.rw-typo-bodytext2-regular {
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -0.182px;
    color: var(--font-color);
}

.rw-typo-bodytext1-regular_darkgrey {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: var(--darkgrey);
}
.rw-typo-bodytext2-regular_darkgrey {
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -0.182px;
    color: var(--darkgrey);
}
.rw-typo-bodytext2-normal_darkgrey {
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: 500;
    letter-spacing: -0.182px;
    color: var(--darkgrey);
}

.rw-typo-bodytext2-bold {
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: -0.182px;
    color: var(--font-color);
}
.rw-typo-bodytext2-bold_darkgrey {
    font-size: 1.3rem;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: -0.182px;
    color: var(--darkgrey);
}

.rw-typo-subtext0 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: var(--font-color);
}

.rw-typo-subtext0-regular {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: var(--font-color);
}

.rw-typo-subtext1 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: var(--darkgrey);
}

.rw-typo-subtext2 {
    font-size: 1.2rem;
    font-weight: 400;
    // line-height: 17px;
    line-height: 19px;
    letter-spacing: -0.144px;
    color: var(--grey);
}
.rw-typo-subtext2-1 {
    font-size: 1.2rem;
    font-weight: 400;
    // line-height: 17px;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: var(--grey);
}
.rw-typo-subtext2-fontcolor {
    font-size: 1.2rem;
    font-weight: 400;
    // line-height: 17px;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: var(--font-color);
}

.rw-typo-subtext3 {
    font-size: 1.1rem;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: -0.12px;
    color: var(--font-color);
}

.rw-typo-subtext3-darkgrey {
    font-size: 1.1rem;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: -0.12px;
    color: var(--darkgrey);
}

.rw-typo-subtext4 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
    color: var(--grey);
}

// Tooltip
.rw-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 150px;
    padding: 8px 10px !important;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
    text-align: center;
    color: var(--white);
    overflow-wrap: break-word;
    background-color: var(--darkgrey);
    border-radius: 6px;
    opacity: 0;
    z-index: 9999;
}

.rw-tooltip-show {
    opacity: 0.85;
}

.rw-tooltip-top {
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--darkgrey) transparent transparent transparent;
    }
}

.rw-tooltip-right {
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent var(--darkgrey) transparent transparent;
    }
}

.rw-tooltip-bottom {
    &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent var(--darkgrey) transparent;
    }
    &-right {
        &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 80%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent var(--darkgrey) transparent;
        }
    }
}

.rw-tooltip-left {
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent var(--darkgrey);
    }
}

// Input
.rw-input {
    box-sizing: border-box;

    height: 50px;
    padding: 16px 15px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.196px;
    color: var(--font-color);

    &::placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }
    &::-webkit-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }
    &:-ms-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }

    &:focus {
        font-weight: 500;
        border: 1px solid var(--grey);
    }

    &:focus::placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }
    &:focus::-webkit-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }
    &:focus:-ms-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }

    &:disabled {
        border: 1px solid var(--border-color) !important;
        background-color: var(--background-color);
        color: var(--grey);
        cursor: not-allowed;
    }
}

//textarea
.rw-textarea {
    box-sizing: border-box;

    height: 180px;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    resize: none;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.196px;
    color: var(--font-color);

    &::placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }

    &::-webkit-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }

    &:-ms-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }

    &:focus {
        font-weight: 500;
        border: 1px solid var(--grey);
    }
    &:focus::placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }

    &:focus::-webkit-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }

    &:focus:-ms-input-placeholder {
        font-weight: 400 !important;
        color: var(--grey) !important;
    }
}

// Button
.rw-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 0;

    .mdi {
        position: relative;
        top: 1px;
        margin-right: 4px;
        font-size: 2rem;

        & ~ span {
            margin-right: 4px;
        }
    }
}

.rw-button-type1 {
    &:hover {
        background-color: var(--background-color);
    }
}

.rw-button-type2 {
    &:hover {
        opacity: 0.8;
    }
}

.rw-button-disabled {
    color: var(--white) !important;
    background-color: var(--lightergrey) !important;
    cursor: not-allowed;

    &:hover {
        color: var(--white);
        background-color: var(--lightergrey);
        opacity: 1;
    }
}

// REDWHALE

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin: 0;
    font-style: normal;
    font-size: 1.3rem;
    color: var(--font-color);
}

textarea {
    font-family: 'Noto Sans KR';
}

pre {
    font-family: 'Noto Sans KR' !important;
}

.full-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.full-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.thin-scroll-y-overlay {
    overflow-y: overlay;

    /* width */
    &::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        background-color: transparent;
        border-radius: 15px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background-clip: padding-box;
        background-color: #cfcfcf;
        border-radius: 30px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkgrey);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.thin-scroll-x-overlay {
    overflow-x: overlay;

    /* width */
    &::-webkit-scrollbar {
        height: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        background-color: transparent;
        border-radius: 15px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background-clip: padding-box;
        background-color: #cfcfcf;
        border-radius: 30px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkgrey);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.thin-scroll-y {
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        background-color: transparent;
        border-radius: 15px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background-clip: padding-box;
        background-color: #cfcfcf;
        border-radius: 30px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkgrey);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.thin-scroll-x {
    overflow-x: auto;

    /* width */
    &::-webkit-scrollbar {
        height: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        background-color: transparent;
        border-radius: 15px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background-clip: padding-box;
        background-color: #cfcfcf;
        border-radius: 30px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkgrey);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display-block {
    display: block !important;
}

.display-flex {
    display: flex !important;
}

.display-none {
    display: none !important;
}

.b-1 {
    border: 1px solid black;
}

// reCAPTCHA
.grecaptcha-badge {
    visibility: hidden;
}

// Material Design Icon
.mdi {
    display: flex;
}

// Bootstrap
.container-fluid {
    padding-right: 70px;
    padding-left: 70px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;

    > .col,
    > [class*='col-'] {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;

    .row {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*='col-'] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

// Gridster
gridster {
    border-radius: 10px;
    background-color: var(--black-200) !important;
}
gridster-item {
    border-radius: 15px;
    border: 1px solid var(--black-200) !important;
    background-color: var(--black-200) !important;
}

.gridster-preview {
    background: none;
}

// fullcalendar
.fc-dayGridMonth-view,
.fc-timeGridWeek-view,
.fc-timeGridDay-view {
    .fc-popover {
        border-radius: 5px;
        box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.31);
        background-color: #ffffff;

        .fc-popover-header {
            background: none;
        }

        .fc-popover-body {
            padding: 3px !important;

            .fc-daygrid-event-harness {
                margin: 2px;
            }
        }
    }
}

.fc-listWeek-view {
    position: relative;

    .fc-list-event {
        & > div:nth-child(1) {
            position: absolute;
            right: 10px;

            .mdi {
                margin-left: 0 !important;
            }
        }

        .fc-list-event-time {
            min-width: 150px;
        }
    }
}

// Kanban
.item.gu-mirror {
    position: relative;
    width: 276px;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--white);

    &:hover {
        .third .trash {
            display: block;
        }
    }

    rw-radio-button {
        display: none;
    }

    .first {
        position: relative;
        height: 25px;

        .circles {
            .circle {
                width: 10px;
                height: 10px;
                margin: 0 2px;
                border-radius: 50%;
                background-color: var(--black-400);
            }

            .pt {
                background-color: var(--font-color);
            }

            ._group {
                background-color: var(--yellow);
            }
        }

        span:nth-child(2) {
            margin-left: 5px;
            font-size: 1.2rem;
            color: var(--black-600);
        }

        .mdi {
            position: absolute;
            top: 1px;
            right: -3px;
            font-size: 2.6rem;
            color: var(--lightblue);
        }
    }

    .second {
        span {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--black-600);
        }
    }

    .third {
        height: 30px;

        .trainer {
            span {
                margin-left: 5px;
                font-size: 1.3rem;
                font-weight: bold;
                color: var(--black-600);
            }
        }

        .trash {
            display: none;
            padding: 2px;
            border-radius: 50%;
            cursor: pointer;

            .mdi {
                color: var(--black-400);
            }

            &:hover {
                background-color: var(--black-200);

                .mdi {
                    color: var(--black-500);
                }
            }
        }
    }
}

// 지표
.indicator.gu-mirror {
    position: relative;
    height: 42px;
    padding: 0 30px 0 5px;
    margin: 5px 0;
    border-radius: 5px;

    &:hover {
        border: 1px solid var(--black-500);
        background-color: var(--black-100);
        cursor: pointer;
    }

    .name {
        width: 100%;
        border: 1px solid transparent;
        background-color: transparent;
    }

    .unit {
        width: 120px;
        border: 1px solid transparent;
        background-color: transparent;
    }

    .mdi-menu {
        color: var(--black-400);
        margin-right: 5px;
        cursor: move;

        &:hover {
            color: var(--black-500);
        }
    }

    .trash {
        position: absolute;
        right: 0;
        width: 29px;
        height: 29px;
        border-radius: 50%;

        &:hover {
            background-color: var(--black-300);

            .mdi {
                color: var(--black-500);
            }
        }

        .mdi {
            color: var(--black-400);
        }
    }
}

// homepage
.hp-headline1 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -1.6px;
    color: var(--hp-black);
}

.hp-headline2 {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 3.2rem;
    letter-spacing: -1.024px;
    color: var(--hp-black);
}

.hp-title1 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2.9rem;
    letter-spacing: -0.841px;
    color: var(--hp-black);
}
.hp-title2 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: -0.256px;
    line-height: 1.5;
    color: var(--hp-red);
}
.hp-title3 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: -0.289px;
    color: var(--hp-red);
}
.hp-title4 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.4px;
    color: var(--hp-red);
}

.hp-body-text1 {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.324px;
    color: var(--hp-grey);
}
.hp-body-text2 {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: -0.256px;
    color: var(--hp-black);
}

.hp-sub-text {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -0.225px;
    color: var(--hp-grey);
}

.hp-tab-menu {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: -0.256px;
    color: var(--hp-lightgrey);
}
.hp-more-btn {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -0.225px;
    color: var(--hp-black);
}

//

.center-empty-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    p {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 19px;

        text-align: center;
        letter-spacing: -0.144px;
        color: var(--grey);
    }

    & > img {
        margin-bottom: 15px;
    }

    & .center-empty-button {
        margin-top: 20px !important;
    }
}

.center-empty-button {
    width: 170px;
    height: 35px;
    background-color: var(--white);
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: var(--grey);

    &:hover {
        background-color: #e9e9e9;
    }

    & > img {
        width: 15px;
        height: 15px;
        margin-top: 3.5px;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// $line-cnt : 라인 수
// $line-height : line-height값
// 사용법 : @include ellipsis(3, 1.6em);
@mixin ellipsis($line-cnt, $line-height) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: $line-height;
    height: $line-height * $line-cnt;
    /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}
.line-ellipsis-one {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
}
.line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    // line-break: anywhere;
}
.ellipsis-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px rgba(181, 181, 181, 0.109804);
    border-radius: 5px;
    line-break: anywhere;

    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.144px;
    color: #212121;

    position: absolute;
    width: 100%;
}

[data-two-line-ellipsis] {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;

    &:hover::before {
        content: attr(data-two-line-ellipsis);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 13px;
        background: #ffffff;
        border: 1px solid #f1f1f1;
        box-shadow: 0 0 10px rgba(181, 181, 181, 0.109804);
        border-radius: 5px;

        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: -0.144px;
        color: #212121;

        position: absolute;
        width: 100%;
        bottom: 5px;
    }
}

// ng2-dragula css
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
    filter: alpha(opacity=80);
    pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
    filter: alpha(opacity=20);
}
