<section class="l-reg-info">
    <div class="reg-info">
        <div class="redwhale-logo"></div>
        <div class="l-step">
            <div class="step active">1</div>
            <div class="caret-right"></div>
            <div class="step">2</div>
        </div>
        <span class="title">아래의 정보를 입력해 주세요.</span>
        <rwa-text-field
            class="name-field"
            [inputLimit]="50"
            [value]="name"
            (onValueChange)="name = $event"
            label="이름"
            placeholder="이름"
            (keyup)="onKeyup($event, 'name')"
        ></rwa-text-field>
        <rwa-text-field
            #emailInput
            class="email-field"
            [inputLimit]="50"
            [value]="email"
            (onValueChange)="email = $event"
            label="이메일 주소"
            placeholder="이메일 주소"
        ></rwa-text-field>
        <rwa-text-field
            class="password-field"
            [inputLimit]="15"
            [textFieldType]="'password'"
            [value]="password"
            (onValueChange)="password = $event"
            [hint]="'영어, 숫자, 특수문자 조합 8~15자 이내'"
            label="비밀번호"
            placeholder="비밀번호"
            [status]="passwordStatus"
            [statusText]="passwordError"
            (keyup)="onKeyup($event, 'password')"
        ></rwa-text-field>

        <div class="l-button">
            <rwa-button
                [width]="'134px'"
                [height]="'45px'"
                [bgColor]="'var(--red-5)'"
                [hoverBgColor]="'var(--red-10)'"
                [fontColor]="'var(--red-100)'"
                [progressBgColor]="'var(--red-10)'"
                [loadingColor]="'var(--red-100)'"
                (onClick)="back()"
            >
                <ng-template btIdleContent>
                    <rwa-svg-arrow-left-bold
                        width="20px"
                        height="20px"
                        [color]="'var(--red-100)'"
                    ></rwa-svg-arrow-left-bold>
                    <span class="back-text">이전으로</span>
                </ng-template>
            </rwa-button>

            <rwa-button
                [padding]="'9px 25px 7px'"
                [height]="'45px'"
                [loadingName]="'info-next-button'"
                [status]="nextButtonStatus"
                [disable]="!formCheck()"
                (onClick)="formCheck() && next()"
            >
                <ng-template btIdleContent><span class="next-text">다음</span></ng-template>
                <ng-template btPendingContent><span class="next-text">다음</span></ng-template>
            </rwa-button>
        </div>
    </div>
</section>

<rwa-vacant-modal [(visible)]="showEmailExistModal" [blockClickOutside]="true" [width]="'345px'">
    <div class="email-exist-modal-content">
        <div class="title">{{ errorModalData.title }}</div>
        <div class="desc">
            {{ errorModalData.desc }}
        </div>
        <div class="content first">
            <div class="content-title">이메일 주소</div>
            <div class="content-desc">{{ email }}</div>
        </div>
        <div class="content" *ngIf="linkedAccountStr">
            <div class="content-title">연동된 계정</div>
            <div class="content-desc">{{ linkedAccountStr }}</div>
        </div>
        <div class="l-modal-button">
            <rwa-button
                class="cancel-button"
                [width]="'124px'"
                [height]="'45px'"
                [bgColor]="'var(--white)'"
                [hoverBgColor]="'var(--gray-30)'"
                (onClick)="goLogin()"
            >
                <ng-template btIdleContent>
                    <span class="cancel-text">로그인하기</span>
                </ng-template>
                <ng-template btPendingContent></ng-template>
            </rwa-button>
            <rwa-button
                *ngIf="!linkedAccountStr"
                [width]="'80px'"
                [height]="'45px'"
                [loadingName]="'info-next-button'"
                [loadingMargin]="'0'"
                (onClick)="goBackToInfo()"
            >
                <ng-template btIdleContent><span class="next-text">확인</span></ng-template>
            </rwa-button>
            <rwa-button
                *ngIf="linkedAccountStr"
                [width]="'109px'"
                [height]="'45px'"
                [loadingName]="'info-next-button'"
                [loadingMargin]="'0'"
                (onClick)="goNextPage(true)"
            >
                <ng-template btIdleContent><span class="next-text">계속하기</span></ng-template>
            </rwa-button>
        </div>
    </div>
</rwa-vacant-modal>
