@import './src/styles.scss';

* {
    @include css-init;
}

.l-center-info-dropdown {
    background-color: var(--white);
    border-radius: 16px;
    @include modal-shadow();

    display: flex;
    flex-direction: column;

    width: 250px;
    max-width: 250px;
    position: relative;

    .center-info-dropdown__top {
        width: 100%;
        max-height: 311px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 0;
        //width: 210px;
        //max-width: 210px;
        //margin-left: 20px;

        .l-center-profile {
            display: flex;
            margin-bottom: 12px;
            padding: 0 20px;
            width: 100%;
            box-sizing: border-box;

            .center-name {
                @include rw-type-b(1.7rem, 28px, var(--font-color));
                width: calc(100% - 40px);
                max-width: calc(100% - 40px);
                word-wrap: break-word;
            }
        }

        .center-avatar {
            min-width: 32px;
            max-width: 32px;
            min-height: 32px;
            max-height: 32px;
            border-radius: 13px;
            margin-right: 10px;
            overflow: hidden;
            position: relative;
            .default-image {
                position: absolute;
                bottom: 0;
                right: -3px;
                width: 32px;
                height: 32px;
            }
            .center-image {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
            &.empty {
                background-color: var(--gray-50);
            }
        }

        .other-center-title {
            display: flex;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            @include rw-type-r(1.5rem, 23px, var(--gray-90));
            margin: 16px 0 4px;
            padding: 0 20px;
        }
        .other-center-list {
            display: flex;
            flex-direction: column;
            margin-bottom: 4px;
            width: 100%;
            .other-center-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 20px;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: var(--gray-30);
                }
                .other-center-name {
                    @include rw-type-r(1.7rem, 28px, var(--font-color));
                    min-width: 142px;
                    max-width: 142px;
                }
            }
        }

        .l-center-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            .center-info-item {
                display: flex;
                align-items: flex-start;
                width: 100%;
                &:not(:last-of-type) {
                    margin-bottom: 6px;
                }
                .phone-icon,
                .signpost-duotone-icon {
                    margin: 1.5px 8px 0 0;
                }
                .center-info-item__text {
                    @include rw-type-r(1.5rem, 23px, var(--font-color));
                    width: calc(100% - 26px);
                    max-width: calc(100% - 26px);
                }
            }
        }

        .divider {
            width: calc(100% - 40px);
            height: 1px;
            margin: 20px 0 4px;
            border-top: 1px solid var(--gray-50);
        }
    }

    .center-info-dropdown__bottom {
        display: flex;
        justify-content: flex-end;
        padding: 10px 20px 20px;
        .l-text-button {
            display: flex;
            position: relative;
            .cid-tooltip {
                position: absolute;
                left: -108px;
                top: -2.5px;
            }
        }
    }
}
