@import 'src/styles.scss';

* {
    @include css-init;
}

.tablet-show-status {
    display: initial;
}
.pc-show-status {
    display: none;
}

section.l-section {
    display: flex;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;

    padding: 0 0 30px 0;

    nav {
        width: 100%;
        margin-bottom: 30px;
    }
    main {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0 30px 0;
        .main-content {
            @include layout-shadow;
            background-color: var(--white);
            height: 100%;
            width: 100%;
            border-radius: 20px;
        }

        .l-dr-button {
            display: none;
            height: 100%;
            justify-content: center;
            flex-direction: column;

            transition: opacity 0s cubic-bezier(0.25, 0.8, 0.25, 0.8) 0.3s;
            -moz-transition: opacity 0s cubic-bezier(0.25, 0.8, 0.25, 0.8) 0.3s;
            -webkit-transition: opacity 0s cubic-bezier(0.25, 0.8, 0.25, 0.8) 0.3s;
            -o-transition: opacity 0s cubic-bezier(0.25, 0.8, 0.25, 0.8) 0.3s;

            &.open-drawer {
                .dr-bt {
                    opacity: 0;
                }
            }

            .dr-bt {
                opacity: 1;
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    @include rw-tablet-sm {
        flex-direction: column;
        align-items: center;
    }
    @include rw-tablet-md {
    }
    @include rw-tablet-lg {
        main {
            .main-content {
                width: 1220px;
            }
        }
    }
    @include rw-pc-sm {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;

        padding: 40px 22px;
        main {
            padding: 0;
            justify-content: space-between;

            .l-dr-button {
                display: flex;
            }
        }
        .pc-show-status {
            display: initial;
        }
        .tablet-show-status {
            display: none;
        }
    }
    @include rw-pc-md {
        padding: 40px 50px;
    }
    @include rw-pc-lg {
        padding: 60px 50px;
    }
}
