@import './src/styles.scss';
* {
    @include css-init;
}

.l-payment-card-list-item {
    width: 450px;
    height: 75px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;

    border: 1px solid var(--gray-50);
    padding: 19px 15px 19px;

    .card-left {
        display: flex;
        align-items: center;
        width: calc(100% - 174px);
    }
    .card-right {
        display: flex;
        align-items: center;
    }

    .card-name,
    .card-number {
        @include rw-type-r(1.7rem, 28.3px, var(--gray-100));
    }
    .card-name {
        max-width: calc(100% - 103px);
        //max-width: calc(143px);
    }

    .card-icon {
        margin-right: 10px;
        min-width: 43px;
        min-height: 30px;
    }

    .button {
        margin-left: 13px;
    }
    .button-text {
        font-size: 1.7rem;
        line-height: 28.3px;
    }

    .pci-remove-icon {
        margin-left: 8px;
    }

    &.is-desktop {
        .card-name {
            //max-width: calc(185px);
        }

        .pci-remove-icon {
            display: none;
        }

        .card-left {
            width: calc(100% - 129px);
        }

        &:hover {
            .pci-remove-icon {
                display: flex;
            }
            .card-name {
                //max-width: calc(143px);
            }
            .card-left {
                width: calc(100% - 174px);
            }
        }
    }
}

.trash-icon {
    width: 24px;
    height: 24px;
}
