@import './src/styles.scss';
* {
    @include css-init;
}

.l-payment-card-list-item {
    width: 450px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;

    border: 1px solid var(--gray-50);
    padding: 19px 15px 19px;

    .card-name,
    .card-number {
        @include rw-type-r(1.7rem, 28.3px, var(--gray-100));
    }
    .card-name {
        max-width: calc(193px);
    }

    .card-icon {
        margin-right: 10px;
    }

    .button {
        margin-left: 13px;
    }
    .button-text {
        font-size: 1.7rem;
        line-height: 28.3px;
    }

    .pci-remove-icon {
        margin-left: 8px;
    }

    &.is-desktop {
        .card-name {
            max-width: calc(235px);
        }

        .pci-remove-icon {
            display: none;
        }
        &:hover {
            .pci-remove-icon {
                display: flex;
            }
            .card-name {
                max-width: calc(193px);
            }
        }
    }
}

.trash-icon {
    width: 24px;
    height: 24px;
}
